<body>
<div class="total">
  <div class="fondo_inicial">
    <h1 class="title">Viaja por todo el Ecuador</h1>
    <img src="https://cdn.mwallpapers.com/photos/celebrities/city/quito-wallpaper-android-iphone-desktop-hd-backgrounds-wallpapers-1080p-4khd-wallpapers-desktop-background-android-iphone-1080p-4k-3vmmf.jpg">
  </div>
</div>

<div class="general">
    <h2>Equipaje</h2>
    <div class="formulario">
      <h3>Vuelo Ida</h3>
      <div class="title_form"><h4>Selección de equipaje de Cabina</h4></div>

      <div class="cabina">

         <div class="c_r">
           1 artículo personal
           Mochila, bolso o cartera bajo el asiento delantero

         </div>

         <div class="c_l">
           1 artículo personal + 1 equipaje de mano 10 kg
         </div>
      </div>


      <div class="title_form"><h4>Selección de equipaje de Bodega</h4></div>

      <div class="title_form"><h4>Equipaje Especial</h4></div>
    </div>
</div>

</body>
