<br><br>
<div *ngIf="carga==false">
  <h1 style="text-align: center"><strong>Gestión de Chequeo</strong></h1>
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.idVuelo}} </td>
      </ng-container>

      <ng-container matColumnDef="origen">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Origen </th>
        <td mat-cell *matCellDef="let row"> {{row.origen}} </td>
      </ng-container>

      <ng-container matColumnDef="destino">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Destino </th>
        <td mat-cell *matCellDef="let row"> {{row.destino}} </td>
      </ng-container>

      <ng-container matColumnDef="fechas">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> F. Salida </th>
        <td mat-cell *matCellDef="let row"> {{row.fechaIda | date:'dd/MM/yyyy'}} </td>
      </ng-container>


      <ng-container matColumnDef="fechal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> F. Llegada </th>
        <td mat-cell *matCellDef="let row"> {{row.fechaVuelta | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="horas">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora Salida </th>
        <td mat-cell *matCellDef="let row"> {{row.horaSalida}} </td>
      </ng-container>


      <ng-container matColumnDef="horal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora Llegada </th>
        <td mat-cell *matCellDef="let row"> {{row.horaLlegada}} </td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pasaje </th>
        <td mat-cell *matCellDef="let row" style="text-align: center">
          <i class="fa-solid fa-people-group" (click)="listarPasajeros(row)" title="Listado de pasajeros"></i>
        </td>
      </ng-container>

      <ng-container matColumnDef="listado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Boletos </th>
        <td mat-cell *matCellDef="let row" style="text-align: center" >
          <div *ngIf="(user.rol).toLowerCase()=='admin' || (user.rol).toLowerCase()=='jo'">
            <i *ngIf="row.fechaIda>fechaactual" title="Asignar tarjetas de vuelo" class="fa-solid fa-list-check" [routerLink]="['/registro/list/ticket/',row.idVuelo]"></i>
          </div>
          <h5 *ngIf="row.fechaIda<fechaactual">No disponible</h5>
          <h5 *ngIf="row.fechaIda>fechaactual">En proceso</h5>
          <h5 *ngIf="row.fechaIda==fechaactual">En Salida</h5>
        </td>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>


<ng-container *ngIf="carga">
  <span class="loader"></span>
</ng-container>

<ng-template #dialogaprobados>
  <mat-card-title>Listado de Pasajeros Aceptados</mat-card-title>
  <br><br>
  <section>
    <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
      <div *ngFor="let pass of listpasajeros; let i=index">
        <input type="checkbox" formArrayName="pasajeros" [value]="pass.datos" (change)="onCheckboxChange($event)"
        />
        {{ pass.datos}}
      </div>
      <br>
      <button mat-dialog-close mat-button color="warn">Cancelar</button>
      <button mat-button color="accent" type="submit">Imprimir</button>
    </form>
  </section>
</ng-template>
