<div class="contenido" >
  <div>
    <h1>Necesidades especiales</h1>
    <ul class="lista">
      <li>
        <mat-accordion>

          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title><h3>Viajar con bebés y niños</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <h4>¿Puedo viajar con niños o bebés en el avión?</h4>
            <p>Sí. En el caso que tenga 7 días o menos, necesitarás un certificado médico, emitido como mínimo 10 días antes del viaje. </p>

            <h4>Viajar con bebé menor a 2 años de edad</h4>
            <ul class="mlistas">
              <li> <b>Vuelos nacionales:</b> puedes viajar con el bebé sobre tu regazo y comprar el pasaje de bebé sin costo adicional. </li>
              <li> <b>Vuelos internacionales: </b>puedes viajar con el bebé sobre tu regazo pagando el pasaje de bebé (10% de la tarifa adulto más impuestos), a excepción de vuelos desde México donde es sin costo. </li>
            </ul>
            <p>Si por comodidad prefieres que el bebé viaje en un asiento propio, tendrás que comprar el pasaje completo y cumplir con los requisitos de seguridad, sea viaje nacional o internacional. </p>
            <p>Si tu bebé cumple 2 años de edad durante el viaje tendrá que ir en un asiento propio. En ese caso tendrás dos alternativas a disposición: </p>
            <ul class="mlistas">
              <li>Comprar en nuestro sitio el pasaje de ida y vuelta con tarifa de niño.</li>
            </ul>
            <h4>Viajar con niños de 2 a 11 años de edad</h4>
            <p>Desde los 2 años los niños deben viajar en asiento propio, pagando pasaje completo de niños, sea viaje nacional o internacional. A excepción de los vuelos nacionales en Colombia, donde debes pagar el 67% de pasaje adulto más impuestos. </p>
            <h4>¿Cuáles son los requisitos de seguridad?</h4>
            <p>Los bebés que viajan en su propio asiento deben hacerlo obligatoriamente en una silla certificada para su uso en avión (Child Restraint System, CRS), independiente de la cabina de vuelo.</p>
            <p>Como alternativa, los bebés entre 10 y 20 kilos que viajen en su propio asiento pueden llevar un arnés de seguridad certificado (Child Aviation Restraint System, CARES) solo para Cabina Economy y Premium Economy.</p>
            <p>Cada adulto puede viajar con hasta dos bebés, reservando un asiento adicional para uno de ellos comprando el pasaje de niño correspondiente a los 2 a 11 años pagando el valor respectivo.</p>
          </mat-expansion-panel>

        </mat-accordion>
      </li>
      <li>
        <mat-accordion>

          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Menores viajando solos</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <h4>¿Cuáles son los requisitos para que un menor de edad viaje solo?</h4>
            <p>Los bebés, niños y adolescentes pueden viajar solos o acompañados de un adulto responsable, dependiendo de su edad.</p>
            <ul class="mlistas">
              <li>Bebés y niños entre 0 y 7 años siempre deben viajar acompañados de una persona mayor de 18 años.</li>
              <li>Niños entre 8 y 11 años deben viajar acompañados de una persona mayor de 18 años o un adolescente emancipado (si viaja con uno de sus padres). Si viajan en una cabina distinta, al momento de embarcar deben informar a la tripulación el asiento en el que se encuentra el menor. También pueden viajar solos, pero es obligatorio solicitar nuestro servicio de menor no acompañado donde personal de la aerolínea custodiará al niño durante todo el trayecto, incluidos los controles de migración y seguridad, hasta que sea entregado a la persona autorizada al término del viaje.</li>
              <li>Adolescentes entre 12 y 17 años pueden viajar solos presentando la documentación del país correspondiente, aunque también pueden contratar el servicio de manera opcional.</li>
            </ul>
            <h4>Viajo con un menor de edad, ¿qué documentos necesito?</h4>
            <p>La documentación de viaje para menores viajando solos o con uno de sus padres, estará sujeta a las restricciones indicadas de acuerdo a cada país de salida, conexión y destino.</p>
            <p>Dentro de los requisitos, es necesario presentar una autorización notarial de los padres, responsable o tutor legal, además de pasaporte o DNI según corresponda.</p>
            <p>Para más detalles, sugerimos consultar con la entidad correspondiente para cada país, contactándose con policía nacional para vuelos domésticos y con la autoridad de extranjería o inmigraciones para vuelos internacionales.</p>
            <p>Si quieres viajar con un bebé 7 días o menos, necesitas un certificado médico para ti y tu bebé, emitido hasta 10 días antes de la fecha de salida de tu vuelo. </p>
          </mat-expansion-panel>

        </mat-accordion>
      </li>
      <li>
        <mat-accordion>

          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Asistencia especial</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <h4>¿Existe la asistencia al pasajero durante el vuelo?</h4>
            <p>Sí, porque queremos brindarte la mejor experiencia para que llegues a destino sin problemas.</p>
            <h4>¿En qué casos puedes solicitar atención especial?</h4>
            <ul class="mlistas">
              <li>Discapacidad física, sensorial o cognitiva.</li>
              <li>Embarazadas, mamás con bebé, tercera edad y movilidad reducida.</li>
              <li>Silla de ruedas.</li>
              <li>Bastones y otros artículos ortopédicos.</li>
              <li>Transporte de medicamentos.</li>
            </ul>
            <h4>Estoy recién operado, ¿puedo viajar si un médico lo autoriza?</h4>
            <p>Queremos que vivas la mejor experiencia y no tengas ningún inconveniente durante tu vuelo. Por eso, si te sometiste a una cirugía hace 10 días o menos, o una cirugía de tórax hace 21 días o menos en el caso de viajes en Perú, necesitarás presentar una certificación médica.</p>
            <h4>Estoy embarazada, ¿qué necesito para viajar?</h4>
            <p>Antes de realizar tu viaje, lo primero que te recomendamos hacer es consultar con tu médico, ya que podrías necesitar certificación médica.</p>
            <p>i tienes un buen estado de salud, puedes viajar sin restricciones hasta la semana 30 (excepto si viajas desde o hacia Perú, donde podrás viajar hasta cumplir 28 semanas de gestación). Luego de este período, deberás presentar un certificado médico en el counter del aeropuerto con la autorización para viajar.</p>
          </mat-expansion-panel>

        </mat-accordion>
      </li>
      <li>
        <mat-accordion>

          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Alimentación</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <h4>¿En todos los vuelos se cobra la comida?</h4>
             <p>No, solo en vuelos nacionales y rutas regionales de hasta 3,5 horas tienes la opción de comprar comida en nuestra agencia</p>
            <h4>¿Ofrecen comida para veganos/vegetarianos a bordo?</h4>
            <p>Disponemos de alternativas adaptadas a los diferentes requerimientos de nuestros pasajeros, en rutas mayores a 3 horas y media. </p>
            <p><i>Comidas disponibles</i></p>
            <ul class="mlistas">
              <li>  Comida para niños</li>
              <li>Dieta blanda</li>
              <li>Comida para diabéticos</li>
              <li>Dieta baja en gluten</li>
              <li>Dieta baja en lactosa </li>
              <li>Dieta baja en colesterol</li>
            </ul>
            <h4>¿Cómo puedo solicitar una comida especial para mi vuelo?</h4>
            <p>Solicítala llamando a nuestro Contact Center después de hacer tu reserva, o hasta 24 horas antes del vuelo.</p>
            <p>Recuerda que este servicio es gratuito y sólo está disponible en vuelos internacionales con duración mayor a 3,5 horas.</p>

          </mat-expansion-panel>
        </mat-accordion>
      </li>

    </ul>

  </div>

</div>
