table {
  width: 100%;
}
.center{
  margin: 0 5%;
}
mat-form-field {
  font-size: 14px;
  width: 90%;
}

.mat-card-content{
  min-width: 150px;
  max-width: 100%;
  width: 100%;
  background-color: #ffffff;
  padding: 25px;
}

div mat-form-field .filter {
  font-size: 14px;
  width: 20%;
  margin: 0 5%;
}

td, th {
  width: 25%;
}

.btnEli{
  background: #F65B3A;
  border-radius: 5px;
}

.btnEli:hover{
  background: red;
  cursor: pointer;
  transition: .5s;
}

.btnEdi{
  background: #428bca;
  border-radius: 5px;
}

.btnEdi:hover{
  background: blue;
  cursor: pointer;
  transition: .5s;
}

button{
  border: transparent;
  background-color: transparent;
}


