<body>
    <mat-card-content>
      <div class="btnac">
        <mat-card-title>REGISTRO DE VUELOS</mat-card-title>
        <br>
        <mat-card-subtitle>Vuelos de V5</mat-card-subtitle>
        <br><br>
      </div>
      <form #formulario="ngForm">
        <div class="grid">
        <div>
          <mat-form-field class="full-width">
                <mat-label>Origen</mat-label>
                <input  matInput  placeholder="Ingrese el lugar de origen"  name="origen" [(ngModel)]="flight.origen"  required>
              </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Destino</mat-label>
            <input  matInput  placeholder="Ingrese el lugar de destino" name="destino" [(ngModel)]="flight.destino"  required>
          </mat-form-field>

          <mat-form-field class="full-width" >
            <mat-label>Fecha de ida</mat-label>
            <input [(ngModel)]="flight.fechaIda"
                   name="fechaida"
                   matInput [matDatepicker]="picker" placeholder="d/m/yyyy" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="full-width" >
            <mat-label>Fecha de Vuelta</mat-label>
            <input [(ngModel)]="flight.fechaVuelta"
                   name="fechavuelta"
                   matInput [matDatepicker]="picker1" placeholder="d/m/yyyy" required>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Precio</mat-label>
            <input  matInput  placeholder="Ingrese el precio " name="precio" [(ngModel)]="flight.precio"  required>
          </mat-form-field>

        </div>
        <div>
          <mat-form-field class="full-width">
            <mat-label>Tipo de vuelo</mat-label>
            <mat-select [(ngModel)]="flight.idTipoVuelo" name="tvuelo" required>
              <mat-option *ngFor="let type of listtypeflight" [value]="type.idTipoVuelo">
                {{type.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Hora Salida</mat-label>
            <input matInput type="time"  placeholder="Hora de salida " name="hsalida" [(ngModel)]="flight.horaSalida" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Hora Llegada</mat-label>
            <input matInput type="time" placeholder="Hora de llegada " name="hllegada" [(ngModel)]="flight.horaLlegada" required>
          </mat-form-field>

          <mat-form-field class="full-width">
                <mat-label>Avion</mat-label>
                <mat-select [(ngModel)]="flight.idAvion" name="avion" required>
                    <mat-option *ngFor="let av of listPlane" [value]="av.idAvion">
                      Placa: {{av.placa}} Tipo: {{av.tipo}}
                    </mat-option>
                </mat-select>
              </mat-form-field>

          <mat-form-field class="full-width">
                <mat-label>Estado</mat-label>
                <mat-select [(ngModel)]="flight.estado" name="estado" required>
                  <mat-option value=1>Activo</mat-option>
                  <mat-option value=3>Pendiente</mat-option>
                  <mat-option value=2>Inactivo</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
      </div>

        <br><br>
        <div>
          <div style="text-align: center">
            <mat-label>Subir Foto</mat-label><br />
            <input type="file" accept=".png, .jpg, .jpeg" (change)="cargarImg($event)" name="foto" required/>
            <br><br>
            <img style="width: 90%;" src="{{ flight.imagen }}" alt="" />
          </div>
          <br>
        </div>
      </form>
      <br>
      <div class="btnac">
        <button mat mat-raised-button color="warn" mat-button [routerLink]="['/registro/watch/flights']">Atras</button>
        <button mat-raised-button color="primary" [disabled]="!formulario.valid" (click)="guardarVuelo()">GUARDAR</button>
      </div>
    </mat-card-content>

</body>

