.my-form{
  min-width: 150px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  background-color: rgba(1,1,1,0);
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

td, th {
  width: 25%;
}

.btnac{
  text-align: center;
}

div button{
  margin: 8px 8px 8px 0;
  text-align: center;
}

.full-width {
  width: 100%;
}

body {
  background-color: #282828;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://fondosmil.com/fondo/31173.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-card-content{
  min-width: 150px;
  max-width: 80%;
  width: 100%;
  background-color: #ffffff;
  padding: 25px;
}
