<div class="principalc">
  <div>
    <h2 class="titulo"><i>Promociones de Vuelos</i> </h2>
  </div>
</div>
<div class="primero">
  <div class="segundo" *ngFor=" let d of vuelomostrar">
    <div class="imagen">
      <img src="{{d.imagen}}" alt="Imagenpromocion" width="100%" height="100%">
    </div>
    <div class="contenedor">
      <div class="info1">
       <p>Desde {{d.origen}} a</p>
        <h2>{{d.destino}}</h2>
      </div>
      <div class="info2">
        <p>Precio promoción desde</p>
        <h2>{{d.precio}}</h2>
      </div>
      <div class="boton">
          <button mat-fab color="warn" aria-label="Example icon button with a home icon" [routerLink]="['/ofertas/destino/','promocion',d.idVuelo]">
            <mat-icon>trending_flat</mat-icon>
          </button>
      </div>
    </div>
  </div>

</div>
