<div class="contenido" >
  <div>
    <h1>Coronavirus</h1>
    <ul class="lista">
      <li>
        <mat-accordion>

          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title><h3>Lo que necesitas para viajar</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
             <h4>Preparacion desde la Casa</h4>
            <ul class="mlistas">
              <li>En vuelos nacionales, lleva tu tarjeta de embarque digital para reducir el contacto con otras personas.</li>
              <li>Verifica que llevas toda la documentación necesaria para volar a este destino y que cumples con las medidas sanitarias y requisitos gubernamentales.</li>
              <li>Viaja tranquilo y ahorra tiempo en el aeropuerto validando anticipadamente tu documentación. Comparte vía WhatsApp tu documentación sanitaria como carnet de vacunación, test PCR y declaraciones de salud. Este servicio está disponible desde 48 hasta 6 horas antes de la hora de salida de tu vuelo.</li>
              <li>No olvides llevar tu mascarilla. Es una de las formas más seguras de evitar contagios.</li>
            </ul>
            <h4>El día de tu viaje</h4>
            <ul class="mlistas">
              <li>Recuerda mantener distancia social en todo momento.</li>
              <li>Debido a los controles sanitarios en los aeropuertos, te recomendamos llegar con anticipación.</li>
              <li>Si la autoridad lo requiere, debes pasar por un control sanitario y presentar la documentación exigida.</li>
              <li>Revisa la posibilidad de despachar tu equipaje según la tarifa comprada. Si vas con maleta de mano, recuerda que puedes llevar hasta 10 kg.</li>
              <li>Para embarcar de forma segura, acércate a la puerta solo cuando tu grupo de embarque sea llamado. Mantén la distancia recomendada.</li>
            </ul>
            <h4>Durante el viaje</h4>
            <ul class="mlistas">
              <li>Recuerda utilizar mascarilla en todo momento.</li>
              <li>Ocupa tu asiento asignado y no te levantes de él si no es necesario.</li>
              <li>Coopera con la tripulación. Es esencial para la seguridad de todos.</li>
              <li>Evita aglomeraciones en los pasillos.</li>
            </ul>
            <h4>Al llegar a tu destino</h4>
            <ul class="mlistas">
               <li>Por tu seguridad, sigue las instrucciones de nuestra tripulación.</li>
              <li>Retira tu equipaje del carrusel guardando distancia de los demás.</li>
            </ul>
          </mat-expansion-panel>

        </mat-accordion>
      </li>
      <li>
        <mat-accordion>

          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Medidas de seguridad e higiene</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>En esta nueva forma de volar, tu seguridad es lo más importante. Por eso estamos siguiendo todas las recomendaciones de organismos internaciones como Asociación Internacional de Transporte Aéreo (IATA), la Organización Mundial de la Salud (OMS), gobiernos y muchos más.
            </p>
            <p>Porque la seguridad la logramos entre todos, entérate de toda la información que necesitas saber antes de tu viaje.</p>
            <h4>Precauciones a bordo</h4>
            <h5>Embarque y Desembarque</h5>
            <ul class="mlistas">
              <li>Mejoramos los procesos de embarque y desembarque para reducir el contacto con otras personas. </li>
              <li>En el proceso de embarque el pasajero deberá escanear su tarjeta de embarque, evitando el contacto con nuestros agentes.</li>
            </ul>
            <h5>Uso obligatorio de mascarilla</h5>
            <ul class="mlistas">
              <li>Tanto las autoridades locales como la IATA han implementado el uso de estos implementos de protección durante el viaje con el fin de disminuir la posibilidad de contagio cruzado entre las personas a bordo del avión.</li>
              <li>Es importante su correcto uso, cubriendo completamente boca y nariz. Esto reduce en un 90% las gotas expulsadas al respirar, toser o estornudar.</li>
              <li>Los modelos de mascarillas permitidos son: Mascarillas quirúrgicas tradicionales de tres pliegues, N95 y KN95 (sin válvulas).</li>
              <li>No se permite el uso de: Mascarillas con válvula (de cualquier tipo), mascarillas artesanales fabricadas de género (tela), pañuelos o bandanas de género, protectores bucales plásticos, mascarillas de género o reutilizables en vuelos dentro de Chile.</li>
            </ul>
            <p><b>Ningún pasajero podrá abordar el avión sin mascarilla, o sin su debido uso. </b>La única excepción es para los menores entre 2 y 11 años, para los cuales hay flexibilidad en el uso de la mascarilla. En caso de negarse a usarlo antes o durante el vuelo, será reportado como pasajero indisciplinado con las autoridades respectivas.</p>
            <h5>Sistemas de ventilación</h5>
            <ul class="mlistas">
              <li>Durante el vuelo estarás respirando aire limpio, gracias a la acción de los filtros HEPA (High Efficiency Particulate Air) incorporados al sistema de ventilación de la cabina de todos nuestros aviones y que remueven el 99,9% de virus y bacterias. Este sistema además de limpiar el aire, lo renueva cada 3 minutos, mezclando una porción de aire filtrado al interior de la cabina con aire extraído directamente desde la atmósfera. </li>
            </ul>
            <h5>Medidas de distanciamiento</h5>
            <ul class="mlistas">
              <li>Nuestra tripulación promoverá el distanciamiento social durante los vuelos. Se guiará a los pasajeros al abordar el avión y al llegar a destino para evitar aglomeraciones en el despacho de maletas y la espera en filas.</li>
            </ul>
            <h5>Alimentación</h5>
            <ul class="mlistas">
              <li>Simplificamos nuestros servicios de alimentación para minimizar la manipulación de elementos, además de tomar medidas adicionales de higiene para la entrega y recogida de dichos servicios.</li>
              <li>Este servicio se encuentra suspendido temporalmente, tanto para la cabinas Economy como Premium Economy, en los vuelos domésticos de Perú por requerimiento de las autoridades locales.</li>
            </ul>
            <h5>Materiales</h5>
            <ul class="mlistas">
              <li>Todos los elementos de descanso que entregamos son higienizados y sellados antes de cada uno de los vuelos (en las rutas que cuenten con este servicio). Se han eliminado temporalmente los artículos de los bolsillos de cada asiento. </li>
              <li>Por regulación local hemos suspendido la entrega de almohadas y frazadas en los vuelos con origen o destino internacional.</li>
            </ul>
          </mat-expansion-panel>

        </mat-accordion>
      </li>
      <li>
        <mat-accordion>

          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Información de vuelos</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <h4>Rutas Operativas</h4>
            <p><b>Conocete a ti,conoce el mundo viaja con nosotros</b></p>
            <p>Estamos retomando nuestra operación de forma gradual, con nuevos protocolos y estándares de seguridad para que viajes con tranquilidad. Continuamos trabajando para reiniciar nuestros vuelos en la medida que contemos con las autorizaciones de operación respectivas por parte de los gobiernos.</p>
            <p>Ten en cuenta que nuestros itinerarios y rutas pueden sufrir cambios.</p>
          </mat-expansion-panel>

        </mat-accordion>
      </li>
      <li>
        <mat-accordion>

          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
              <h3>Viaja con flexibilidad</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>No te preocupes, en <a href="">Mis viajes</a> podrás aceptar el nuevo itinerario que te proponemos:</p>
            <ul class="mlistas">
              <li>Elegir una nueva fecha</li>
              <li>Pedir la devolución</li>
            </ul>
            <h4 >Si quieres elegir una nueva fecha</h4>
            <ul class="mlistas">
              <li>Podrás hacer un cambio sin costo en la misma cabina del viaje original.</li>
              <li>Podrás reprogramar el nuevo vuelo durante la vigencia de tu pasaje.</li>
              <h5>Vigencia del pasaje</h5>
              <li>Si tu viaje original comenzaba entre el 1 de marzo y el 31 de diciembre 2021, la vigencia es hasta el 31 de diciembre de 2022.</li>
              <li>Si tu viaje original comienza en 2022, la vigencia es de 12 meses a partir de la fecha del primer vuelo de tu pasaje. </li>
              <li>Si ya comenzaste el viaje, deberás completar el regreso no más allá de 12 meses desde tu primer vuelo.</li>
            </ul>
            <h4>Si prefieres no viajar y pedir la devolución</h4>
            <ul class="mlistas">
              <li>Recibirás una tarjeta Voucher que podrás canjear por servicios en la agencia. Si usaste tus millas para canjear tu pasaje, éstas serán devueltas en tu cuenta de socio. </li>
            </ul>
            <h4>¿En qué casos tienes que llamar al Contact Center?</h4>
            <ul class="mlistas">
              <li>Si quieres cambiar el destino: Llámanos y te ayudaremos con el cambio. Si eliges una tarifa superior, tendrás que pagar la diferencia respecto a la original.</li>
            </ul>

          </mat-expansion-panel>
        </mat-accordion>
      </li>

    </ul>

  </div>

</div>
