
  <mat-toolbar color="primary" class="headerprincipal">
    <button mat-button >
      <img src="" alt="Logo">
    </button>
    <button mat-button [matMenuTriggerFor]="aboveMenu">Ofertas y destinos<mat-icon>keyboard_arrow_down</mat-icon></button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
      <button mat-menu-item><mat-icon> list_alt</mat-icon>Ofertas de Vuelos</button>
      <button mat-menu-item ><mat-icon>commute</mat-icon>Destinos</button>
      <button mat-menu-item><mat-icon>store</mat-icon>Promociones de temporada</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="belowMenu">Mis viajes<mat-icon>keyboard_arrow_down</mat-icon></button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item><mat-icon> list_alt</mat-icon>Administra tus viajes</button>
      <button mat-menu-item><mat-icon>playlist_add_check</mat-icon>Check In</button>
    </mat-menu>

    <button mat-button class="botonVuelo" routerLink="centroa">Centro de Ayuda</button>

    <span class="example-spacer">

    </span>
    <button mat-button  class="botonVuelo" routerLink="estadov">Estado de vuelo</button>
    <button mat-button class="botonInicio" [routerLink]="'/'">Iniciar Sesión</button>



  </mat-toolbar>



