.divconteniner{
  text-align: center;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 400px;

}

.example-full-width {
justify-content: center;
  width: 88%;
}
.botonv{
  width: 350px;
}
.inputv{
  width: 180px;
}
.letra{
  color: #1B0088;
  font-size: 30px;
  font-weight: lighter;
}
.dialogoPositivo{
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
}
.dialogoPositivo img{
  position: relative;
  left:90px;
}
.dialogoPositivo p{
  width: 400px;
}
.example-button-row{
  justify-content: center;
}
.example-button-row a{
  margin-right: 10px;
  width: 150px;
  position: relative;
  left: 117px;

}
.dialogoPositivo h2{
  width: 200px;
  position: relative;
  left: 134px;
}
.divnegativo{
  width: 250px;
  height: 200px;
align-items: center;
  justify-content: center;
}
.divnegativo h1{
  width: 150px;
  color: #10004F;
  font-size: 30px;
  font-style: oblique;
  position: relative;
  top: 45px;
  left: 48px;
}
