
<div class="divconteniner">
  <h3  style="text-align: center" class="letra">Busca tu viaje</h3>
  <p>Ingrese los datos del viaje</p>
  <form action="">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Número de orden o Código de reserva</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Apellido del pasajero</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
    </p>
    <button mat-flat-button color="accent" class="botonv">Buscar</button>
  </form>


</div>
