
<div class="divconteniner">
  <h3  style="text-align: center" class="letra">Busca tu viaje</h3>
  <p>Ingrese los datos del viaje</p>
  <form action="">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Número de orden o Código de reserva</mat-label>
        <input matInput placeholder="Codigo de reserva" [formControl]="formulario" [(ngModel)]="idreserva">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Apellido del pasajero</mat-label>
        <input matInput placeholder="apellido" [formControl]="formulario1" [(ngModel)]="apellidopasajero">
      </mat-form-field>
    </p>
    <button mat-flat-button color="accent" class="botonv" [disabled]="!formulario.valid || !formulario1.valid">Buscar</button>
  </form>
</div>
<ng-template #dialogoBoleto>


</ng-template>
