<div class="divprincipal">
  <h2 class="titulo">Condiciones de compra y contrato de transporte aéreo</h2>
  <h3 class="subtitulos">Términos y condiciones de la compra</h3>
  <ul>
    <li class="li2">Este sistema es exclusivamente para compra y reserva de pasajes u otros productos ofrecidos.</li>
    <li class="li2">Para su seguridad la agencia podría limitar el número máximo de compras que un cliente puede realizar durante un mismo día.</li>
    <li class="li2">Los tickets sólo pueden ser comprados para vuelos originados en un número selecto de ciudades.</li>
    <li class="li2">La compra de tickets con tarjeta de crédito está sujeta a aprobación del emisor de su tarjeta.</li>
    <li class="li2">Los pasajes están sujetos a distintas regulaciones y restricciones según la tarifa comprada. Para mayor información el e-mail de confirmación de su compra incluye un resumen de las regulaciones y restricciones que aplican para su tarifa.</li>
    <li class="li2">Se pueden comprar tickets hasta para 9 pasajeros.</li>
    <li class="li2">La información de los pasajeros será guardada en nuestras bases de datos, sólo para los fines autorizados por los mismos.</li>
    <li class="li2">Es responsabilidad del pasajero la veracidad, exactitud y precisión del contenido e información ingresada para el proceso de compra.</li>
    <li class="li2">Es total responsabilidad del pasajero tener al día sus documentos de viaje: pasaporte, visas, permisos, etc.</li>
  </ul>
  <h3 class="subtitulos"> Términos y condiciones de la compra de asientos</h3>
  <ul>
    <li class="li3">Asiento Especial:Los asientos con características especiales cuya selección anticipada está sujeta a un cargo o incluida en la tarifa, dependiendo de cuál haya sido la tarifa adquirida por el pasajero. Estos asientos se encuentran en las primeras filas y en la salida de emergencia.</li>
    <li class="li3">Asiento estándar: asientos cuya selección anticipada está sujeta a un cargo o incluida en la tarifa, dependiendo de cuál haya sido la tarifa adquirida por el pasajero. Si el pasajero elige no pagar el cargo, el sistema le asignará de manera aleatoria un asiento durante el proceso de Check-in.</li>
    <p>El pasajero puede seleccionar un asiento:</p>
    <li class="li3">Al comprar su pasaje online.</li>
    <li class="li3">Después de comprar el pasaje, en la sección Mis Viajes.</li>
    <li class="li3">En nuestras Oficinas de Venta  en la agencia</li>
    <li class="li3">Llamando al Contact Center (1 800 356 9526)</li>
  </ul>
  <h3 class="subtitulos">Medios de pago</h3>
  <ul>
    <li class="li2">El sistema acepta como medios de pago:Todas las  tarjetas de crédito Visa, MasterCard, Diners Club,  Discover. </li>
    <li class="li2">El uso, condiciones de pago, cargos adicionales y otras condiciones aplicables a las tarjetas de crédito, son de exclusiva responsabilidad de su emisor.</li>
  </ul>
  <h3 class="subtitulos">Tarifas e impuestos</h3>
  <ul>
    <li class="li2">Los impuestos son adicionales a las tarifas publicadas por la línea aérea y se incluyen en el cargo final a su tarjeta de crédito. Previo al cargo el sistema le mostrará por separado el valor de las tarifas por persona, los impuestos y el valor total a cargar. Los gobiernos y/o las autoridades locales de los aeropuertos pueden imponer y recoger impuestos adicionales en el aeropuerto.</li>
  </ul>
  <h3 class="subtitulos">Derecho de retracto, cambios y devoluciones</h3>
  <ul>
    <li class="li2">No aplica derecho de Retracto.</li>
    <li class="li2">En caso de proceder un cambio, para su seguridad, deberá realizarlo iniciando sesión en su cuenta LATAM, debiendo crearse una cuenta para tal efecto si no está registrado.</li>
    <li class="li2">Las devoluciones estarán sujetas a las multas y cargos que correspondan de acuerdo a las condiciones de la tarifa comprada.</li>
  </ul>
  <h3 class="subtitulos">Política de privacidad</h3>
  <ul>
    <li class="li2">Cuando aceptas nuestra Política de Privacidad, entregas tu consentimiento libre, informado, específico e inequívoco para que los datos personales que entregas en nuestro sitio sean tratados por nosotros, así como los datos derivados de tu navegación y aquellos otros datos que puedas facilitarnos en un futuro.
    </li>
    <li class="li2">Lee con atención nuestra Política de Privacidad, que ha sido redactada de forma clara y sencilla, para facilitar su comprensión, determinando libre y voluntariamente si deseas facilitar tus datos personales.</li>
  </ul>
</div>
