<div class="contenido" >
<div>
  <h1>Documentos para viajar y certificados</h1>
  <ul class="lista">
    <li>
      <mat-accordion>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title><h3>Documentos para viajar</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <h4>¿Qué documentación necesito para ingresar a Estados Unidos?</h4>
          <p>Para ingresar a Estados Unidos deberás viajar con los siguientes documentos:</p>
           <ul class="mlistas">
             <li>Pasaporte válido y vigente.</li>
             <li>En algunos casos, según tu ciudadanía, también necesitarás visa. </li>
              <li>Además, deberás completar la siguiente documentación de prevención del COVID-19.</li>
           </ul>
          <h4>¿Qué documento necesito para viajar al extranjero?</h4>
          <p>Para vuelos internacionales, tienes que viajar con los siguientes documentos:</p>
          <ul class="mlistas">
            <li>Cédula de Identidad (para ciudadanos del Mercosur que viajan entre países sudamericanos) o pasaporte válido y vigente al menos por 6 meses a la fecha de retorno.</li>
            <li>En algunos casos, también necesitarás visa, según el país de destino y tu ciudadanía.</li>
          </ul>
          <p>Además, para menores de edad viajando solos, con terceros o con uno de sus padres, recomendamos tener autorización de los padres, responsable o tutor legal; junto con pasaporte o DNI, de acuerdo con las restricciones de cada país de salida, conexión y/o destino.</p>
          <p>Para más detalles, contáctate con la autoridad de extranjería o inmigraciones.Queremos que nada te impida disfrutar tu viaje, por eso te recomendamos revisar tus documentos y contar con identificación vigente.</p>
          <h4>Perdí mi cédula de identidad o pasaporte, ¿qué puedo hacer para continuar mi viaje?</h4>
          <p>Si estás en el extranjero, te recomendamos consultar con la embajada o consulado de tu país para que te den una solución.</p>
          <p>Si estás dentro de tu país, te recomendamos hacer la denuncia con la policía para que te entreguen un documento “provisorio”.</p>
          <p>En Perú podrás presentar tu DNI (vencido), pasaporte o licencia de conducir. En Argentina, no podrás volar si no tienes el documento de identidad. En Colombia podrás presentar la Certificación emitida por la Registraduría Nacional del Estado Civil (también conocida como “contraseña”), Libreta Militar o Licencia de Conducción expedida en Colombia.</p>
        </mat-expansion-panel>

      </mat-accordion>
    </li>
    <li>
      <mat-accordion>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>Vacunas</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <h4>¿Qué vacunas necesito para viajar a otro país?</h4>
          <p>Dependerá de distintos factores, tales como tu país de origen, conexiones de tu vuelo y estadías recientes en zonas endémicas o consideradas de riesgo.</p>
          <p>Por eso, te recomendamos verificar con anticipación en el Consulado o Embajada del país al que vas a viajar, y confirmar si es necesario vacunarse para poder viajar.</p>
          <p>Recuerda que las reglas pueden cambiar en todo momento y son determinadas por cada país.</p>
          <p>Desde el 7 de febrero del 2022, es obligatorio contar con carnet de vacunación contra la fiebre amarilla para ingresar y/o salir de Paraguay hacia Brasil, Perú, Bolivia y Venezuela.</p>


        </mat-expansion-panel>

      </mat-accordion>
    </li>
    <li>
      <mat-accordion>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>Comprobantes</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <h4 >¿Dónde puedo descargar mi comprobante de compra?</h4>
          <p>Lo puedes encontrar en el email de confirmación de la compra de tu pasaje o adicionales, en la opción descargar comprobante. Si eliminaste el email y quieres recuperar el comprobante, lo puedes hacer desde nuestro sitio. </p>
          <h4> Si solicito una factura, ¿de qué forma me harán llegar el comprobante de pago?</h4>
          <p>Generalmente, la factura y comprobante de pago se entrega por correo electrónico. Sin embargo, dependiendo del país en que lo hayas comprado, esto podría variar. Si tienes dudas, comunícate con nuestro Contact Center para poder asistirte.</p>
        </mat-expansion-panel>
      </mat-accordion>
    </li>

  </ul>

</div>

</div>
