<div class="contenido" >
  <div>
    <h1>Devoluciones y cambios</h1>
    <ul class="lista">
      <li>
        <mat-accordion>

          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title><h3>Devoluciones</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <h4>Si no utilicé mi pasaje,¿Puedo solicitar la devolución de las tasas de embarque?</h4>
            <p>Si compraste un pasaje y no pudiste viajar, puedes solicitar la devolución de tus tasas de embarque aunque tu pasaje no permita devolución. Puedes hacer la solicitud entrando a
              <a href="">Mis viajes.</a></p>
            <h4>¿Donde pido la devolución de mi pasaje?</h4>
            <p>Puedes solicitar la devolución de tu pasaje entrando a <a href="">Mis viajes</a>, ahí podrás revisar todas las condiciones para hacer la devolución. También puedes revisarlas en el comprobante que enviamos a tu email al momento de comprar.</p>
            <p>Si compraste tu pasaje en una agencia de viajes, tendrás que comunicarte con ellos para realizar la devolución.</p>
            <p>Si quieres devolver otros extras de tu viaje como alojamiento o arriendo de autos, tendrás que gestionarlo directamente con el proveedor (Booking.com, Rentalcars, etc.)</p>
            <h4>¿Hasta cuándo tengo plazo para devolver mi pasaje</h4>
            <p>El plazo dependerá de la tarifa asociada al pasaje que compraste. Existen algunas que permiten hasta 12 meses para solicitar la devolución desde que realizaste la compra, siempre que no hayas volado algún tramo.</p>
            <p>Si necesitas conocer el plazo permitido en tu tarifa, revisa el comprobante de compra en el mail de confirmación, donde podrás revisar el tiempo tiempo que tienes para solicitar la devolución.</p>
            <h4>¿Puedo anular la compra de mi pasaje</h4>
          <p>La anulación de la compra y la devolución del dinero están sujetas a las condiciones del pasaje que adquiriste. El plazo para realizar el trámite también depende de la tarifa que compraste. Existen algunas que permiten la anulación hasta 12 meses, siempre que no hayas volado algún tramo.</p>
             <h5>Compras en agencias de viaje u otros sitios</h5>
            <p>Tienes que comunicarte directamente con ellos para ver las opciones que tienes de anulación. </p>
            <p>Si necesitas conocer las condiciones de tu pasaje, puedes hacerlo en el comprobante de compra que te enviamos a tu email.</p>
          </mat-expansion-panel>

        </mat-accordion>
      </li>
      <li>
        <mat-accordion>

          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Cambios</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <h4>¿Cómo cambiar el nombre de un pasajero en mi pasaje?</h4>
            <p> Podrás hacerlo solo si compraste tu pasaje a través de nuestra empresa y si aún no has iniciado tu viaje o al menos no lo has finalizado. Para cambios de nombre legales y omisión de apellido o nombre, deberás presentar documentación de respaldo que acredite tu nombre.
            </p>
            <h4>¿Puedo cambiar mi pasaje en el sitio web?</h4>
            <p>Sí, pero dependerá de las condiciones de tu tarifa. Ingresa a <a href="">Mis viajes</a> y verifica si tu pasaje permite cambios.</p>
            <p>Para saber si el cambio tiene algún cargo adicional o multa, revisa las regulaciones de tu pasaje en tu Comprobante de compra.</p>

            <h4>¿Puedo cambiar mi pasaje si ya inicié mi viaje?</h4>
            <p>Si la tarifa de tu pasaje lo permite, puedes hacer cambios en tu vuelo de regreso.</p>
            <p>Para revisar las condiciones de tu pasaje, entra en la sección <a href="">Mis viajes</a> donde podrás ver si tu pasaje permite hacerle cambios, los vuelos disponibles y luego hacer el cambio que necesitas.</p>
            <h4>¿Hasta cuándo tengo plazo para cambiar mi pasaje?</h4>
            <p>El plazo dependerá si has iniciado o no el viaje y de la tarifa que compraste. Revisa si tu viaje permite modificaciones en el Comprobante de compra de tu pasaje en la sección ‘Cambios’.</p>
            <p>Si tu tarifa permite cambios, la vigencia del pasaje será de acuerdo a:</p>
            <ul class="mlistas">
              <li><b>Si aún no inicias tu viaje:</b>tienes hasta un año desde la fecha de inicio de viaje para poder cambiarlo, siempre y cuando no hayas volado ninguno de los tramos.</li>
              <li><b>Si ya iniciaste tu viaje:</b>el plazo de cambio será de acuerdo a la estadía máxima de tu pasaje, la cual puedes encontrar en el Comprobante de compra, en la sección "Estadía máxima en destino". Si compraste clase de tarifas diferentes a la ida y al retorno, deberás considerar el plazo más restrictivo entre ambas alternativas.</li>
            </ul>
            <p><b>Recuerda:</b> fijarte en la fecha y hora del vuelo, ya que algunas tarifas no permiten cambios o el cobro podría ser mayor después de la salida del vuelo.</p>

          </mat-expansion-panel>

        </mat-accordion>
      </li>



    </ul>

  </div>

</div>
