<div class="divCiudades">
  <h2 class="tituloI">Ofertas de vuelos hacia:
  <mat-form-field >
    <select matNativeControl required (change)="filtrar($event)">
    <option ></option>
    <option *ngFor="let ciudad of listVuelos;">{{ciudad}}</option>
  </select>
  </mat-form-field>
  </h2>
</div>

<div class="componentes">
  <div  *ngFor="let v of vuelost2.slice(0,6)" class="divContenedor">
    <mat-card class="elementos" >
      <img mat-card-img src="{{v.imagen}}" alt="logo"  style="height:60%;width:100%">
      <p>Viaja el {{v.fechaIda}}</p>
      <mat-card-content style="font-size: 10px">
        <h3 style="padding: 0;margin: 0">
          {{v.destino}}
        </h3>
        <tr>
          <td class="ida"> Solo ida</td>
          <td class="ida1">&nbsp;Vuelta</td>
        </tr>
        <p style="margin: 2px">Precio Final</p>
        <h3 style="margin: 0">{{v.precio}}</h3>
      </mat-card-content>
      <mat-card-actions style="text-align: right">
        <button mat-button color="warn"><mat-icon>trending_flat</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>


