.tituloI{
  color: black;
  font-style:italic;
  font-weight:bold;
  font-size:25px;
  font-color:#ffffff;
  font-family:'Helvetica','Verdana','Monaco',sans-serif;
}
.componentes{
  padding: 20px;
  background-color: #ffffff;
  height: auto;
  display: grid;
  border-radius: 10px;
  margin:1rem;
  border-top-color: transparent;
  position: relative;
  top: -178px;
  gap: 15px;
  flex-wrap: wrap;
}
.divCiudades{
  background-color: Transparent;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  border-radius: 10px;
  margin: 10px auto;
  border-top-color: transparent;
  position: relative;
  top: -51px;
  font-family: "fangsong";
}
.divContenedor{
  padding: 16px;
  display: grid;
  width: 90vw;
  grid-template-columns: repeat(auto-fit,minmax(300px,max-content));
  gap: 2em;
}
.elementos{
  font-size: 10px ;
  width: 35em;
  --hover: #2C3E50 ;
}
.ida{
  background-color: #F3F2F6;
  border-radius: 7px;
  border-width: medium;
  color: #1B0088;
  padding: 5px;
  font-size: 11px;
}
.ida1{
  background-color: #F3F2F6;
  border-radius: 7px;
  border-width: medium;
 padding: 5px;
  left: 5px;
  position: relative;
  font-size: 11px;
}
.elementos:hover,.elementos:focus{
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.60em);
  transform: translateY(-0.60em);

}
