<body>

  <div class="general">
    <div class="total">
      <div class="fondo_inicial">
        <h1 class="title">Programa Charter</h1>
      </div>
    </div>

    <div class="total_b">
      <form class="my-form" #formulario_="ngForm">
        <div class="portada">
          <h3>Registro de Vuelo Charter</h3>
        </div>
        <div class="row">
          <label class="label_t">Fechas </label>
          <div class="row_c">
            <div class="row_c_cont">
              <input [(ngModel)]="vuelo.fechaIda" name="fechaIda"
                     matInput [matDatepicker]="picker" placeholder="m/d/yyyy" required
              >
              <mat-datepicker #picker></mat-datepicker>
            </div>
            <label class="label_">
              Fecha Ida
            </label>
          </div>
          <button mat-raised-button class="calendar" (click)="picker.open()">
            <mat-icon>date_range</mat-icon>
          </button>
          <div class="row_c">
            <div class="row_c_cont">
              <input [(ngModel)]="vuelo.fechaVuelta" name="fechaVuelta"
                     matInput [matDatepicker]="picker_v" placeholder="m/d/yyyy"
                     required
                     >
              <mat-datepicker #picker_v></mat-datepicker>
            </div>
            <label class="label_">Fecha Vuelta</label>
          </div>
          <button class="calendar" mat-raised-button (click)="picker_v.open()">
            <mat-icon>date_range</mat-icon>
          </button>
        </div>
        <label class="label_ error_label" *ngIf="error_f">
          Fecha de Vuelta erronea
        </label>

        <div class="row">
          <label class="label_t">Horarios</label>
          <div class="row_c">
            <input  class="input"
                    type="time"
                    [(ngModel)]="vuelo.horaSalida"
                    name="horaSalida" required>
            <label class="label_">Hora de Salida</label>
          </div>
          <div class="row_c">
            <input  class="input" type="time" [(ngModel)]="vuelo.horaLlegada" name="horaLlegada" required>
            <label class="label_">Hora de LLegada</label>
          </div>
        </div>
        <label class="label_ error_label" *ngIf="error_h">
          Hora de Salida mayor a Hora de LLegada
        </label>


        <div class="row">
          <label class="label_t">Observación</label>
          <div class="row_c">
            <input  class="input" [(ngModel)]="vuelo.observacion" name="observacion" required
                    type="text"
                    minlength="5"
            >
            <label class="label_">Comentario</label>
          </div>
        </div>

        <div class="row">
          <label class="label_t">Vuelo</label>
          <div class="row_c">
            <mat-form-field  class="full-width-select" >
                <input  class="input" [(ngModel)]="vuelo.origen" name="origen"
                        type="text"
                        minlength="5"
                        required>
                <label class="label_">Vuelo de Origen</label>
            </mat-form-field>
          </div>
          <div class="row_c">
            <mat-form-field  class="full-width-select" >
              <input  class="input" [(ngModel)]="vuelo.destino" name="destino"
                      type="text"
                      minlength="5"
                      required>
              <label class="label_">Vuelo de Destino</label>
            </mat-form-field>
          </div>
        </div>

        <div class="row_ac">
        <mat-card-actions>
          <button class="action"
                  [disabled]="!formulario_.valid" (click)="registrar()">
            Reservar
          </button >
        </mat-card-actions>
        </div>

      </form>
    </div>


  </div>

</body>
