<body>
   <div class="totalidad">
       <div class="resumen">
         <h3>Resumen de Viaje</h3>

         <div class="row">
           <label>Precio</label>
           <input  class="input" value="{{this.vuelo.precio}}" disabled>
         </div>

         <div class="row">
           <label>Origen</label>
           <input   class="input"  value="{{this.vuelo.origen}}" disabled>
         </div>

         <div class="row">
           <label>Destino</label>
           <input   class="input" value="{{this.vuelo.destino}}" disabled>
         </div>

         <div class="row">
           <label>Fecha Ida</label>
           <input   class="input" value="{{this.vuelo.fechaIda}}" disabled>
         </div>

         <div class="row">
           <label>Fecha Vuelta</label>
           <input  class="input" value="{{this.vuelo.fechaVuelta}}" disabled >
         </div>

         <div class="row">
           <label>Hora Salida</label>
           <input  class="input" value="{{this.vuelo.imagen}}"  disabled>
         </div>


         <div class="row">
           <label>Hora LLegada</label>
           <input  class="input" value="{{this.vuelo.horaLlegada}}" disabled>
         </div>
       </div>

      <div class="image">
      dfsdf
      </div>


   </div>

</body>
