body{
  margin: 0;
  padding: 0;
  height: auto;
  background-color: #282828;
}

.container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.title{
  margin-left: 10px;
  color: #000000;
  margin-top: 10%;
}

.total{
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://www.miravivatravel.com/perch/resources/luxury-guayquil-holidays-2-w1028h546.jpg");
}

.fondo_inicial{
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

@supports(object-fit: cover){
  .fondo_inicial img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.totalidad{
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: auto;
  align-self: center;
}

.resumen{
  grid-column: 1/2;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-radius: 10px;
  min-height: 700px;
  max-height: 750px;
  min-width: 450px;
  max-width: 550px;
  margin-top: 20px;
  color: white;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}

.row_c img{
  width: 70%;
  height: auto;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  border-radius: 10px;
}

.image{
  width: 100%;
  display: flex;
}

@supports(object-fit: cover){
  .row_c img{
    height: 200px;
    object-fit: cover;
    object-position: center center;
    margin: auto;
  }
}

.row{
  display: flex;
  flex-direction: row;
  padding: 10px;
  border: 1px solid #a9a9a9;
  margin: 10px;
  border-radius: 5px;
}

.row label{
  margin-left: 5px;
  font-weight: 500;
  font-size: 15px;
  margin-top: 0;
  margin-right: 10px;
}

.resumen h3{
   color: #000000;
  margin-left: 10px;
}

.row_c{
  display: flex;
  flex-direction: column;
}

.label_{
  color: #1d4f71;
  font-size: 13px !important;
}

.label_t{
  width: 60px;
  font-size: 16px !important;
  color: #282828;
}

.input{
  margin-right: 10px;
  font-size: 15px;
  background-color: rgba(40, 40, 40, 0.1);
  color: #000000;
}

.portada{
  display: flex;
  justify-content: center;
  align-items: center;
}

.portada mat-icon{
  color: #282828 !important;
  margin-top: 10px;
  margin-left: 10px;
}

button{
 background-color: #1d4f71;
  color: white !important;
  width: 40%;
  font-weight: 500;
}

.acciones{
  width: 100%;
  margin-top: 40px;
}

.mat-card-actions{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_b{
  color: white !important;
}


mat-stepper{
  background-color: #282828;
  color: white;
}

mat-step{
  color: white!important;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #ffffff;
  color: black;
}


::ng-deep .mat-step-header .stepper-label {
  background-color: #ffffff;
  color: #ffffff!important;
}



