<ngx-spinner
  bdColor = "rgba(0, 0, 0, 1)"
  size = "medium"
  color = "#fff"
  type = "square-jelly-box"
  template= "<img src='https://media.giphy.com/media/iJOZwC1R7WVxAxs4Gs/giphy.gif'/>"
  [fullScreen] = "true">
</ngx-spinner>

<body>
  <div class="container">

    <div class="total">
      <div class="fondo_inicial">
        <h1 class="title">Resumen de Viaje</h1>
      </div>
    </div>



    <div class="totalidad">

      <mat-stepper linear #stepper>
        <mat-step>
          <div class="resumen">

            <div class="portada">
              <h3>Resumen de Viaje</h3>
              <mat-icon  matPrefix color="primary">card_travel</mat-icon>
            </div>

            <div class="row">
              <label class="label_t">Precio: </label>
              <div class="row_c">
                <input  class="input" value="{{this.vuelo.precio}}" disabled>
                <label class="label_">Total</label>
              </div>
            </div>

            <div class="row">
              <label class="label_t">Lugar: </label>
              <div class="row_c">
                <input  class="input"  value="{{this.vuelo.origen}}" disabled>
                <label class="label_">Origen</label>
              </div>
              <div class="row_c">
                <input   class="input" value="{{this.vuelo.destino}}" disabled>
                <label class="label_">Destino</label>
              </div>
            </div>

            <div class="row">
              <label class="label_t">Fechas : </label>
              <div class="row_c">
                <input   class="input" value="{{this.vuelo.fechaIda}}" disabled>
                <label class="label_">Fecha Ida</label>
              </div>
              <div class="row_c">
                <input  class="input" value="{{this.vuelo.fechaVuelta}}" disabled >
                <label class="label_">Fecha Vuelta</label>
              </div>
            </div>


            <div class="row">
              <label class="label_t">Horario: </label>
              <div class="row_c">
                <input  class="input" value="{{this.vuelo.imagen}}"  disabled>
                <label class="label_">Hora Salida</label>
              </div>

              <div class="row_c">
                <input  class="input" value="{{this.vuelo.horaLlegada}}" disabled>
                <label class="label_">Hora LLegada</label>
              </div>
            </div>

            <div class="row">
              <div class="row_c image">
                <img src="{{this.vuelo.horaSalida}}">
              </div>
            </div>


            <div class="acciones">
              <mat-card-actions>
                <button mat-raised-button (click)="registrar()">
                  Reservar Vuelo
                  <mat-icon  class="icon_b" matPrefix color="primary">flight_takeoff</mat-icon>
                </button >
              </mat-card-actions>
            </div>

          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel class="stepper-label">Proceso de Pago</ng-template>
          <div class="pago">

          </div>
        </mat-step>
      </mat-stepper>




    </div>
  </div>


</body>
