body{
  margin: 0;
  padding: 0;
}

.totalidad{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.resumen{
  background-color: #1d4f71;
  height: 60%;
  margin-top: 20px;
}

.row{
  display: flex;
  flex-direction: row;
}

.input{
  margin-left: auto;
}
