<br><br>
<mat-card-content *ngIf="carga==false">
  <h1 style="text-align: center"><strong>Vuelos Programados</strong></h1>
  <br>
  <button mat-raised-button color="accent" class="center" color="accent" [routerLink]="['/registro/new/flight']">Nuevo Vuelo</button>
  <br>
  <div>
    <mat-form-field appearance="standard" class="center filter">
      <mat-label>Busqueda</mat-label>
      <input matInput (keyup)="flitrar($event)" placeholder="Ex. Example" #input>
    </mat-form-field>
  </div>
  <div class="grid">
    <div *ngFor="let a of listflights">
      <mat-card>
          <div class="grid1">
            <div class="btnac">
              <img mat-card-md-image src="{{a.imagen}}" >
            </div>
            <div>
              <div class="grid2">
                <span><strong>Origen: {{a.origen}}</strong></span>
                <span><strong>Destino: {{a.destino}}</strong></span>
                <span ><strong>Estado: {{a.estado}}</strong></span>
              </div>
            </div>

          </div>
        <mat-card-content class="grid1 btnac">

          <!-- <span *ngIf="enOferta(a.idVuelo)">EN OFERTA</span>-->

          <span>Fecha Ida: {{a.fechaIda}}</span>
          <span>Fecha Vuelta : {{a.fechaVuelta}}</span>
          <span>Hora Salida: {{a.horaSalida}}</span>
          <span>Hora llegada: {{a.horaLlegada}}</span>
        </mat-card-content>
        <div class="btnac">
          <button mat mat-raised-button color="primary" mat-button [routerLink]="['/registro/edit/flight/',a.idVuelo]">Editar</button>
          <button mat mat-raised-button color="accent" maccentat-button>Activar</button>
          <button mat mat-raised-button maccentat-button (click)="openPromociono(a)">Ofertar</button>
        </div>
      </mat-card>
    </div>
  </div>

</mat-card-content>

<ng-container *ngIf="carga">
  <span class="loader"></span>
</ng-container>

<ng-template #dialgOferta>
  <form class="my-form">
    <mat-card-title>REGISTRO PROMOCIÓN</mat-card-title>
    <br>
    <span><strong>Origen: </strong>{{flight.origen}}</span><br>
    <span><strong>Destino: </strong>{{flight.destino}}</span><br>
    <span><strong>Fecha Salida: </strong>{{flight.fechaIda}}</span><br>
    <span><strong>Hora Salida: </strong>{{flight.horaSalida}}</span><br>
    <span><strong>Precio Actual: </strong>{{flight.precio}}</span>
    <br><br>
    <mat-form-field class="full-width">
      <mat-label>Descuento</mat-label>
      <input  matInput type="number" placeholder="Ingrese el descuento"  name="placa"  [(ngModel)]="promocionRequest.descuento" required>
    </mat-form-field>

  </form>
  <br>
  <div class="btnac">
    <button mat mat-raised-button color="warn" mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary"(click)="promocionar(flight)">GUARDAR PROMOCIÓN</button>
  </div>
</ng-template>

