<br><br>
<h1 style="text-align: center"><strong>Vuelos Programados</strong></h1>
<mat-card-content>
  <button mat-raised-button color="accent" class="center" color="accent" [routerLink]="['/registro/new/flight']">Nuevo Vuelo</button>
  <br>
  <div>
    <mat-form-field appearance="standard" class="center filter">
      <mat-label>Busqueda</mat-label>
      <input matInput (keyup)="flitrar($event)" placeholder="Ex. Example" #input>
    </mat-form-field>
  </div>
  <div class="grid">
    <div *ngFor="let a of listflights">
      <mat-card>
          <div class="grid1">
            <div class="btnac">
              <img mat-card-md-image src="{{a.imagen}}" >
            </div>
            <div>
              <div class="grid2">
                <span><strong>Origen: {{a.origen}}</strong></span>
                <span><strong>Destino: {{a.destino}}</strong></span>
                <span ><strong>Estado: {{a.estado}}</strong></span>
              </div>
            </div>

          </div>
        <mat-card-content class="grid1 btnac">
          <span>Fecha Ida: {{a.fechaIda}}</span>
          <span>Fecha Vuelta : {{a.fechaVuelta}}</span>
          <span>Hora Salida: {{a.horaSalida}}</span>
          <span>Hora llegada: {{a.horaLlegada}}</span>
        </mat-card-content>
        <div class="btnac">
          <button mat mat-raised-button color="primary" mat-button [routerLink]="['/registro/edit/flight/',a.idVuelo]">Editar</button>
          <button mat mat-raised-button color="accent" maccentat-button>Activar</button>
        </div>
      </mat-card>
    </div>
  </div>

</mat-card-content>

