<div class="principalc">
  <div>
    <h2 class="titulo"><i>Destinos Nacionales</i> </h2>
    <h2 class="titulo"><i>e Internacionales</i></h2>
  </div>
</div>
<p>

</p>
  <mat-toolbar class="caja4">
    <a mat-button routerLink="destinos/nacionales" >Nacionales</a>
    <a mat-button routerLink="destinos/internacionales">Internacionales</a>
  </mat-toolbar>

<div class="componentes">
<router-outlet></router-outlet>
</div>
<div style="height: auto;width: auto">
  <mat-accordion>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title><h3><u>Terminos y Condiciones <mat-icon>open_in_new</mat-icon> </u></h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li>Las Tarifas exhibidas son referenciales, pudiendo variar su precio ya que se encuentran sujetas a restricciones y condiciones de compra.</li>
        <li>Al comprar a través de nuestro sitio web, ¡no pagas cargos por servicio!</li>
        <li>Las tarifas incluyen cargo por combustible vigente a la fecha de esta publicación, el cual podría variar en el futuro dependiendo de las fluctuaciones o variaciones del precio del mismo. Para mayor información, revisa la tabla de cargos por combustible</li>
        <li>Tasas de embarque: El precio referencial informado para vuelos nacionales e internacionales considera tasas de embarque, determinadas por la autoridad competente de cada país y pueden cambiar su valor.</li>
        <li>Para mayor información ingresa a nuestro <a href="http://localhost:4200/centroa">Centro de Ayuda.</a></li>
      </ul>
    </mat-expansion-panel>

  </mat-accordion>
</div>

<div class="panel">
  <div class="panel2">
<mat-toolbar color="primary" class="caja3">
  <mat-form-field appearance="outline" class="cajatrayectoria">
    <mat-label style="color: black">viaje</mat-label >
    <mat-select [(ngModel)]="selectedValue"   >
      <mat-option *ngFor="let viaje of viajes" [value]="viaje.value">
        {{viaje.viewValue}}
      </mat-option>
    </mat-select>
   </mat-form-field>
  <mat-form-field appearance="outline" class="cajatrayectoria">
    <mat-label style="color: black">Tipo de vuelo</mat-label >
    <mat-select [(ngModel)]="selectedValue1"  name="food" >
      <mat-option *ngFor="let vuelo of vuelos" [value]="vuelo.value">
        {{vuelo.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button [matMenuTriggerFor]="menu3" >
    <button mat-button color="primary" style="font-size: 12px" >{{+bebe+adultos+nino}}&nbsp;Pasajeros<mat-icon>keyboard_arrow_down
    </mat-icon>
    </button>
  </button>
  <mat-menu #menu3="matMenu" yPosition="below" style="justify-content: center;align-content: center">
    <mat-form-field appearance="outline" (click)="$event.stopPropagation();$event.preventDefault();">
      <mat-label>Adultos</mat-label>
      <input matInput placeholder="0" type="number" autocomplete="off" [(ngModel)]="adultos" >
      <mat-hint>12 o mas años</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" (click)="$event.stopPropagation();$event.preventDefault();">
      <mat-label>Niños</mat-label>
      <input matInput placeholder="0" type="number" autocomplete="off" [(ngModel)]="nino">
      <mat-hint>De 2 a 12 años</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" (click)="$event.stopPropagation();$event.preventDefault();">
      <mat-label>Bebé</mat-label>
      <input matInput placeholder="0" type="number" autocomplete="off" [(ngModel)]="bebe">
      <mat-hint>Menores de 2 años</mat-hint>
    </mat-form-field>
  </mat-menu>
</mat-toolbar>
   <div class="panel3">
     <mat-form-field appearance="outline" class="caja">
       <input matInput placeholder="Ciudad de origen" required >
     </mat-form-field>

     <mat-form-field appearance="outline" class="caja">
       <input matInput placeholder="Ciudad de Destino" required >
     </mat-form-field>
     <mat-form-field appearance="outline" class="caja">
       <mat-label>Seleccione una fecha</mat-label>
       <mat-date-range-input [rangePicker]="picker">
         <input matStartDate placeholder="Fecha de Ida">
         <input matEndDate placeholder="Fecha de regreso">
       </mat-date-range-input>
       <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
       <mat-date-range-picker #picker></mat-date-range-picker>
     </mat-form-field>

     <button mat-stroked-button color="warn" style="width: 180px;height: 40px;margin: 8px">Buscar</button>
   </div>
  </div>
</div>

