.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px,auto));
  grid-gap: 2%;
}

.grid1{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,auto));
  grid-gap: 2%;
}


.btnac{
  text-align: center;
}

div button{
  margin: 8px 8px 8px 0;
  text-align: center;
}

.full-width {
  width: 100%;
}

body {
  background-color: #282828;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://fondosmil.com/fondo/31173.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-card-content{
  min-width: 20%;
  max-width: 100%;
  width: 100%;
  background-color: #ffffff;
  padding: 25px;
}

