<div class="contenido" >
  <div>
    <h1>Problemas con el vuelo</h1>
    <ul class="lista">
      <li>
        <mat-accordion>

          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title><h3>Cambios de itinerario</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <h4>¿Qué pasa si mi vuelo se retrasó?</h4>
            <p>Si debido a un imprevisto tuvimos que retrasar tu vuelo 31 o más minutos, queremos darte una solución. </p>
            <p>Sabemos que un retraso puede afectar la planificación del viaje, por eso puedes ingresar a <a
              href="">Mis viajes</a> y elegir una de las siguientes alternativas:</p>
            <ul class="mlistas">
              <li>Busca una nueva hora o fecha para tu vuelo.</li>
              <li>Cambia la ruta o el destino de tu viaje. </li>
              <li>Pide la devolución de tu pasaje.</li>
            </ul>
            <h4>¿Qué pasa si mi vuelo se adelantó?</h4>
            <p>Si debido a un imprevisto tuvimos que retrasar tu vuelo 31 o más minutos, queremos darte una solución. </p>
            <p>Sabemos que un retraso puede afectar la planificación del viaje, por eso puedes ingresar a <a
              href="">Mis viajes</a> y elegir una de las siguientes alternativas:</p>
            <ul class="mlistas">
              <li>Busca una nueva hora o fecha para tu vuelo.</li>
              <li>Cambia la ruta o el destino de tu viaje. </li>
              <li>Pide la devolución de tu pasaje.</li>
            </ul>
          </mat-expansion-panel>

        </mat-accordion>
      </li>
      <li>
        <mat-accordion>

          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Cancelaciones</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <h4>¿Qué pasa si mi vuelo se canceló?</h4>
            <p> No te preocupes, en <a href="">Mis viajes</a> podrás aceptar el nuevo itinerario que te proponemos
            </p>
            <ul class="mlistas">
               <li> Elegir una nueva fecha.</li>
              <li>Pedir la devolución.</li>
              <br>
              Vigencia del pasaje:
              <br>
              <li>Si tu viaje original comenzaba entre el 1 de marzo y el 31 de diciembre 2021, la vigencia es hasta el 31 de diciembre de 2022.</li>
              <li>Si tu viaje original comienza en 2022, la vigencia es de 12 meses a partir de la fecha del primer vuelo de tu pasaje. </li>
              <li>Si ya comenzaste el viaje, deberás completar el regreso no más allá de 12 meses desde tu primer vuelo.</li>
            </ul>
            <h4>Si prefieres no viajar y pedir la devolución</h4>
            <ul class="mlistas">
              <li> Recibirás un Travel Voucher que podrás canjear por servicios los sevicios que ofrece la agencia o dinero. Si usaste tus millas para canjear tu pasaje, éstas serán devueltas en tu cuenta de socio. </li>
            </ul>
          </mat-expansion-panel>

        </mat-accordion>
      </li>



    </ul>

  </div>

</div>
