body {
  height: auto;
  padding: 0 10%;
  overflow: hidden;
  padding-top:50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://fondosmil.com/fondo/31173.jpg");
}

.mat-card {
  display: grid;
  background-color: rgba(255,255,255,1) ;
  grid-template-columns: 1fr 500px;
  grid-auto-rows: 800px;
  margin: 0;
  padding: 0;
  justify-items: center;
  align-items: center;
}

.mat-card-content-p1{
  grid-column: 2 / 3;
  grid-row: 1;
}

.mat-card-content-p2{
  grid-column: 1 / 2;
  grid-row: 1;
  height: 99.5%;
  width: 100%;
  background-size: cover;
  margin-top: 3px;
  background-image: url("https://images.unsplash.com/photo-1572198404182-2c115d89fb26?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YWlycG9ydCUyMHJ1bndheXxlbnwwfHwwfHw%3D&w=1000&q=80");
  margin-right: 3px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.my-card{
  margin-bottom: 50px;
  margin-left: 10px;
}

.my-form{
  min-width: 150px;
  max-width: 400px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.full-width {
  background-color:rgba(0,0,0,0.033);
  color:black;
  margin-top: 10px;
  padding-top: 5px;
  border-radius: 10px;
}

.selector{
  margin-top: 10px;
  margin-bottom: 10px;
}

.full-width-back {
  width: 100%;
  padding-top: 3px;
  border-radius: 10px;
}
.full-width-select {
  background-color:rgba(0,0,0,0.033);
  width: 100%;
  padding-top: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.full-width-select mat-label{
  margin-left: 10px;
}

.full-width-select mat-select{
  margin-left: 10px;
}

.full-width-date{
  width: 100%;
  border-radius: 10px;
  padding-top: 10px;
  background-color:rgba(0,0,0,0.033);
}

.full-width-date mat-label{
  margin-left: 10px;
}

.full-width-date input{
  margin-left: 10px;
}

.full-width mat-label{
  margin-left: 10px;
}

.mat-icon{
  margin-right: 10px;
  margin-left: 10px;
}

.full-width input{
  margin-left: 10px;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: rgba(0,0,0,0.1) !important;
  margin-left: 10px !important;
  width: 95% !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: rgba(98, 0, 238, 0.3) !important;
}

.check{
  margin-left: 10px;
}

.selector h4{
  display: inline;
}

.mat-card-actions{
  text-align: center;
}

.mat-card-actions button{
  margin-top: 20px;
  width: 50%;
}
