.mat-card .text {
  margin: 0;
  padding: 40px;
  color: white;
}
.mat-card .text h1 {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.text mat-icon{
  width: 100px;
  height: 50px;
  font-size: 40px;
}


body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1558204692-5f402fe220b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGFlcm9wdWVydG8lMjBkZSUyMHN1dmFybmFiaHVtaXxlbnwwfHwwfHw%3D&w=1000&q=80");
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

mat-card {
  background-color: #282828;
  margin: 0;
  border-radius: 10px !important;
  padding: 0;
  display: flex;
  box-shadow: 4px 4px 1px #282828 !important;

}

#form_general{
  border-top-left-radius: 100px;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  height: 190px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-end;
}

mat-card-content{
  margin: 0;
  padding: 0;
}


.mat-card-actions{
  display: flex;
  justify-content: right;
  background-color: white;
  margin: 0;
}

.mat-card-actions button{
  width: 50%;
  background-color: #1d4f71;
}

.text,.nav_rout{
  display: flex;
  justify-content: right;
}
.mat-icon{
  margin-right: 10px;
}

.border{
  background-color: #ffffff;
}


.full-width{
  background-color:rgba(0,0,0,0.025);
  border-bottom: 1px solid #1d4f71;
  color:black;
  margin-top: 5px;
  padding-top: 5px;
  width: 325px;
  border-radius: 10px;
  margin-right: 10px;
}

.full-width mat-icon{
  color: #282828;
}


.full-width:hover{
  background-color: rgba(29, 79, 113, 0.1);
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: rgba(29, 79, 113, 0) !important;
  margin-left: 10px !important;
  width: 95% !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: rgba(98, 0, 238, 0) !important;
}

.mat-icon{
  margin-right: 10px;
  margin-left: 10px;
}

.about{
  background-color: #ffffff;
  margin: 0;
  height: 100px;
}

.a1{
  background-color: #1d4f71;
  padding-top: 3px;
  border-top-left-radius: 95px;
}

.flex-low{
  display: flex;
}
.backgrounddiv {
  background-color: #ffffff;
  width: 400px;
  padding: 2px 2px 2px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundimage{
  height: 50%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://ak.picdn.net/shutterstock/videos/1012784468/thumb/2.jpg");
}

h4{
  font-weight: 600;
  color: #282828;
}

.title{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 100px;
}


