.principal{
  background: transparent;
  display: flex;
  justify-content: center;
  height: 51%;
}
.carusel{
  background-image: url("https://www.xtrafondos.com/descargar.php?id=5846&resolucion=2560x1440");
  height: 450px;
  width: 1400px;
  border-radius:0 0 15px 15px ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto {
  text-align: left;
  color: white;
  justify-content: left;
}
.texto button{
  cursor: pointer;
  background-color: transparent;
  height: 50px;
  width: 200px;
  color: white;
  font-size: 1em;
  border: none;
  border-bottom:3px dotted #9999CC;
  text-decoration:none;
}
.textos{
  height: 300px;
  width: 1200px;
  display: flex;
}
.divDatos{
  background-color: Transparent;
  height: 250px;
  width: 1200px;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  border-radius: 10px;
  border-style: solid;
  margin: 25px auto;
  border: 1px solid #ccc;
  border-top-color: transparent;
  box-shadow: 1px -3px 10px #592A08;
  position: relative;
  top: -28px;
}
.divCovid{
  background-color: Transparent;
  height: 188px;
  width: 1200px;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  border-radius: 10px;
  border-style: solid;
  margin: 25px auto;
  border: 1px solid #ccc;
  border-top-color: transparent;
  box-shadow: 1px 1px 2px #592A08;
  position: relative;
  top: -100px;
}
.textd{
  color:black;
  background-color: white;
  border-radius: 5px;
  height: auto;
}
.barra{
  background-color: transparent;
}
.example-spacer{
  flex: 1 1 auto;
}
.izquierda{
  width: 600px;
  text-align: -moz-left;
}
.derecha{
  width: 600px;
  text-align: -webkit-center;
  position: relative;
  top: 21px;
}
.textoCovid{
  font-family:"fangsong";
  position: relative;
  top:10px;
  text-align: center;
  color: #541788;
}
.divCiudades{
  background-color: Transparent;
  height: 188px;
  width: 1200px;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  border-radius: 10px;
  margin: 25px auto;
  border-top-color: transparent;
  position: relative;
  top: -116px;
  font-family: "fangsong";
}
.content{
  padding: 16px;
  background-color: Transparent;
  height: auto;
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin: 25px auto;
  border-top-color: transparent;
  position: relative;
  top: -189px;
}
.content> mat-card{
width: 300px;
  height: 200px;
  justify-content: space-between;
  display: inline-block;
}
.divPromociones{
  background-color: Transparent;
  height: 188px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
  margin: 25px auto;
  border-top-color: transparent;
  position: relative;
  top: -269px;
}
.divContIzquierda{
  width: 590px;
  height: 120px;
  position: relative;
  top: 21px;
  background-image: url("https://www.caf.com/media/2244138/los-paisajes-de-roberto-burle-marx-iluminan-artespacio-4.jpg");
  border-radius: 10px;
  margin: 25px auto;
  border: 1px solid #ccc;
  border-top-color: transparent;
  box-shadow: 1px -3px 10px #592A08;

}
.divContDerecha{
  width: 590px;
  height: 120px;
  position: relative;
  top: 21px;
  background-image: url("https://www.creaxid.com.mx/blog/wp-content/uploads/2017/02/la-promocion-de-ventas.jpg");
  border-radius: 10px;
  margin: 25px auto;
  border: 1px solid #ccc;
  border-top-color: transparent;
  box-shadow: 1px -3px 10px #592A08;
}
.divContenedor{
  padding: 16px;
  height: auto;
  width: 400px;
}
.panel{
  background-color:#FFFFFF;

  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.panel2{
  width: 1200px;
  background-color: #FFFFFF;
  border-radius: 15px;
  align-items: center;

}
.panel3{
  background-color: #FFFFFF;
  height: 50px;
  margin: 1rem;
  font-size: 12px;
  justify-content: space-between;
}
.panel4{
  background-color: #FFFFFF;
  width: 1150px;
  height:150px;
  margin: 1rem;
  font-size: 12px;
  position: relative;
  justify-content: space-between;
  top: 0px;
}
.caja {
  width: 250px;
  height:25px;
  float: left;
  margin-left: 8px;
  border-color:#FFFFFF;
  border-width: 5px;
}
.caja3{
  width: 1200px;
  background-color: #FFFFFF;
  border-radius: 23px;
}
.cajatrayectoria{
  color: blue;
  font-size: 12px;
  margin: 1rem;
}
.cajamat{
  position: relative;
  top:200px;
  width: auto;
  height: auto;
}

.cajatrayectoria1{
  color: blue;
  font-size: 12px;
  margin: 0px;
  position: relative;
  left: 5px;
}
.mat-elevation-z2:hover,.mat-elevation-z2:focus{
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}
