<div class="principal">
  <div class="carusel">
    <div class="texto">
      <h3>Descubre todas las zonas magicas del Ecuador</h3>
      <button>Ver Destinos<mat-icon>open_in_new</mat-icon> </button>
    </div>
  </div>

</div>

<div class="principal">
  <div class="divDatos">
    <mat-tab-group mat-align-tabs="start" class="textd">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>airplanemode_active</mat-icon>
          Vuelos
        </ng-template>
        Content 1
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>store</mat-icon>
          Promociones
        </ng-template>
        Content 1
      </mat-tab>
    </mat-tab-group>

  </div>


</div>





