<div class="principal">
  <div class="carusel">
    <div class="texto">
      <h3>Descubre todas las zonas magicas del Ecuador</h3>
      <button routerLink="/destinos">Ver Destinos<mat-icon>open_in_new</mat-icon> </button>
    </div>
  </div>
</div>
<div class="principal">
  <div class="divDatos">
    <mat-tab-group mat-align-tabs="start" class="textd">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>airplanemode_active</mat-icon>
          Vuelos
        </ng-template>
        <!--inicio componente-->
        <div class="panel">
          <div class="panel2"> <form >
            <mat-form-field appearance="outline" class="caja">
              <input matInput placeholder="Ciudad de origen" required [formControl]="formulario" [(ngModel)]="origen" >
            </mat-form-field>
            <mat-form-field appearance="outline" class="caja">
              <input matInput placeholder="Ciudad de Destino" required [formControl]="formulario1" [(ngModel)]="destinop">
            </mat-form-field>
            <mat-form-field appearance="outline" class="caja">
              <mat-label>Seleccione una fecha</mat-label>
              <mat-date-range-input [rangePicker]="picker1">
                <input matStartDate placeholder="Fecha de Ida" required [formControl]="formulario2" [(ngModel)]="fida1">
                <input matEndDate placeholder="Fecha de regreso" required [formControl]="formulario3" [(ngModel)]="fregreso1">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-date-range-picker #picker1></mat-date-range-picker>
            </mat-form-field>
            <button mat-stroked-button color="warn" style="width: 180px;height: 40px;margin: 8px" (click)="trasformarFechas()"  [disabled]="!formulario.valid || !formulario1.valid || !formulario2.valid || !formulario3.valid">Buscar</button>
          </form>
            <div class="panel3">

            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab class="cajamat">
        <ng-template mat-tab-label>
          <mat-icon>store</mat-icon>
          Promociones
        </ng-template>
        <div class="panel4">
          <mat-form-field appearance="outline" class="caja">
            <input matInput placeholder="Ciudad de Destino" required [formControl]="formulario1" required [(ngModel)]="destinopromocion">
          </mat-form-field>
          <mat-form-field appearance="outline" class="cajatrayectoria1">
            <mat-label style="color: black">Precio</mat-label >
            <mat-select [(ngModel)]="selectedValue" >
              <mat-option *ngFor="let precio of listprecios;" [value]="precio">{{precio}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="caja">
            <mat-label>Seleccione una fecha</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Fecha de Ida" [formControl]="formulario2" [(ngModel)]="fechaipromocion">
              <input matEndDate placeholder="Fecha de regreso" [formControl]="formulario3" [(ngModel)]="fechatpromocion">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>

          <button mat-stroked-button color="warn" style="width: 180px;height: 40px;margin: 8px"[disabled]="!formulario1.valid || !formulario2.valid || !formulario3.valid" (click)="EnviarDatosPromocion()">Buscar</button>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>
<div>
  <div class="divCovid">
    <div class="izquierda">
      <h2 class="textoCovid">	<mat-icon>face</mat-icon><i>Informacion sobre covid-19</i></h2>
      <p>En nuestro Centro de información COVID-19 encontrarás todo lo necesario para viajar, cambiar tu vuelo, documentación y más.</p>
    </div>
    <div class="derecha">
      <mat-toolbar class="barra">
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/restricciones">
          <mat-icon> list_alt</mat-icon>Requisitos para tu viajes
        </button>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </mat-toolbar>
      <hr>
    </div>

  </div>
</div>
<div class="divCiudades">
<h2>Ofertas de Vuelo desde
  <mat-form-field>
  <select matNativeControl required (change)="filtrar($event)">
    <option></option>
    <option *ngFor="let ciudad of listVuelos;">{{ciudad}}</option>
  </select>
</mat-form-field>
</h2>
</div>
<div class="content" >
    <div  *ngFor="let v of vuelost3" class="divContenedor">
      <mat-card class="mat-elevation-z2" >
        <img mat-card-img src="{{v.imagen}}" alt="logo"  style="height:200px;width:350px" >
        <mat-card-content >
          <h1>
            {{v.destino}}
          </h1>
        </mat-card-content>
        <mat-card-actions style="text-align: right">
          <button mat-button color="warn" [routerLink]="['/ofertas/destino/',v.idVuelo]"><mat-icon>trending_flat</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>
</div>
<div class="divCiudades">
  <a routerLink="/condiciones" style="text-decoration: none;font-size: large">Términos y condiciones generales<mat-icon color="warn">open_in_new</mat-icon></a>
</div>






