<ngx-spinner
  bdColor = "rgba(0, 0, 0, 1)"
  size = "medium"
  color = "#fff"
  type = "square-jelly-box"
  template= "<img src='https://media.giphy.com/media/iJOZwC1R7WVxAxs4Gs/giphy.gif'/>"
  [fullScreen] = "true">
</ngx-spinner>

<body>

<div class="ofertas">

  <div class="o1">
    <h1>Ofertas Especiales</h1>
    <p>-Se parte de nuestras mejores ofertas sisi yo digo que si</p>
  </div>

  <div class="o2" (click)="onClickVuelos()">
    <h1>Vuelos Comerciales</h1>
    <p>-Viajes por todo el Ecuador a precios bajos</p>
  </div>

  <div class="o3" (click)="onClickVuelosCharter()">
    <h1>Vuelos Charter</h1>
    <p>-Disfrute de Ecuador con la mejor compañia</p>
  </div>

  <div class="historal" (click)="showSuccess()">
    <h2>Vuelos Reservados </h2>
    <p>-Consulte sus Reservas y Procesos</p>
  </div>

</div>


</body>
