body{margin: 0; padding: 0;
}

.total{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fondo_inicial{
  width: 100%;
  height: 350px;
}

.fondo_inicial img{
  width: 100%;
  height: auto;
}

.title{
  margin-left: 20px;
  position: absolute;
  top: 30%;
  right: 75%;
  color: white;
}


@supports(object-fit: cover){
  .fondo_inicial img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.filtro{
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  color: white;
  position: absolute;
  top: 55%;
  left: 28%;
  color: white;
  border-radius: 5px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.ofertas{
  background-color: rgba(40, 40, 40, 1);
  padding-right:6%;
  padding-left:6%;
  padding-top: 1%;
  height: 80%;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-auto-rows: 500px ;
  grid-column-gap: 20px;
}

.o1{
  grid-column: 1 / 2;
  grid-row: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://i.pinimg.com/originals/ec/f0/48/ecf048516f0cebed1bf3aadbac7ddb4d.jpg");
  color: white;
  padding-left: 20px;
  padding-right: 5px;
  padding-top: 40%;
  border-bottom:  3px solid white;
  border-right:  3px solid white;
  border-top:  3px solid white;
  border-radius: 3px;
}

.o2{
  grid-column: 2 / 3;
  grid-row: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://cdn-news.clima.com/images/2020/02/vuelo.jpg");
  color: white;
  padding-left: 20px;
  padding-right: 5px;
  padding-top: 50%;
  border-bottom:  3px solid white;
  border-right:  3px solid white;
  border-top:  3px solid white;
  border-radius: 3px;
}

.o3{
  grid-column: 3 / 4;
  grid-row: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://www.metropoliabierta.com/uploads/s1/14/54/14/1/5dcbe4770ed8f190940775_5_570x340.jpeg");
  color: white;
  padding-left: 20px;
  padding-right: 5px;
  padding-top: 60%;
  border-bottom:  3px solid white;
  border-right:  3px solid white;
  border-top:  3px solid white;
  border-radius: 3px;

}

.o1:hover{
  margin: 10px;
  transition: margin .5s;
}

.o2:hover{
  margin: 10px;
  transition: margin .5s;
}

.o3:hover{
  margin: 10px;
  transition: margin .5s;
}

p{
  margin-left: 10px;
}

.o1 .card_reservas button {
  width: 100px;
}

.o1_b{
  background-color: #b4bb4b;
  color: white;
}

.o2_b{
  background-color: #344288;
  color: white;
}

.o3_b{
  background-color: darkcyan;
  color: white;
}

h2{
  color: rgba(40, 40, 40, 1);
  margin-left: 2%;
}

.ciudades{
  background-color: #282828;
  margin-right:2%;
  margin-left:2%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-auto-rows: 490px ;
  grid-column-gap: 10px;
  padding: 2% 2%;

}

.c1{
  border-radius: 10px 100px 10px 10px;
  background-color: white;
  grid-column: 1 / 2;
  grid-row: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.c2{
  border-radius: 10px 100px 10px 10px;
  grid-column: 2 / 3;
  grid-row: 1;
  background-color: white;
}

.c3{
  border-radius: 10px 100px 10px 10px;
  grid-column: 3 / 4;
  grid-row: 1;
  background-color: white;
}

.title_c h2{
  margin: 0;
    margin-left: 10px;
}

.card_reservas button{
  margin-left: 10px;
}

.ciudades img{
  width: 100%;
  height: 300px;
  border-radius: 10px 100px 10px 100px;
}

.ciudades img:hover{
  margin: 10px;
  transition: margin .5s;
}
