<div class="contenido" >
  <div>
    <h1>Equipaje</h1>
    <ul class="lista">
      <li>
        <mat-accordion>

          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title><h3>Equipaje de cabina</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <h4 >¿Puedo transportar alimentos en mi equipaje?</h4>
            <p>Sí puedes, tanto en tu equipaje de mano como en el de bodega, pero debes llevarlo en un envase hermético que evite derrames u olores que afecten al resto de equipajes.</p>
            <p>Ten en cuenta que algunos países tienen restricciones para ciertos alimentos, por eso, te recomendamos informarte acerca de las condiciones del país al que viajas, poniéndote en contacto con las autoridades sanitarias del país a través de su consulado.</p>
            <h4> ¿Qué dispositivos no puedo utilizar a bordo?</h4>
             <p>Por tu seguridad y la del vuelo, no es posible utilizar durante el viaje juguetes a control remoto, teléfonos o cualquier otro dispositivo sin opción para desactivar sus funciones inalámbricas de transmisión de datos ni cigarrillos electrónicos.</p>
              <p><b>Importante</b></p>
            <p>Recuerda que es indispensable para la seguridad del vuelo apagar los teléfonos celulares o mantenerlos en modo avión, durante todo el proceso de despegue y aterrizaje.</p>
            <h4>¿Qué pasa si llevo objetos de valor en mi equipaje?</h4>
            <p>Te recomendamos llevar los objetos de valor como documentos, dinero, joyas, artículos electrónicos, etc. en la cabina del avión. En el transporte del equipaje, no nos responsabilizamos por la pérdida o daño de las siguientes pertenencias:</p>
            <p>Articulos valorados</p>
            <ul class="mlistas">
              <li>Arte</li>
              <li>Joyas</li>
              <li>Dinero</li>
              <li>Documentos personales</li>
              <li>Documentos de valor</li>
              <li>Relojes</li>
              <li>Carteras</li>
              <li>Billeteras</li>
              <li>Computadoras</li>
              <li>Drones</li>
              <li>Cualquier otro artículo o propiedad similar de valor</li>
            </ul>
            <h4>¿Qué elementos se encuentran prohibidos o con restricción?</h4>
            <p>Recuerda que es indispensable para la seguridad del vuelo apagar los teléfonos celulares o mantenerlos en modo avión, durante todo el proceso de despegue y aterrizaje.</p>
            <p>Como método de prevención y para seguridad de todos, el equipaje transportado en bodega o en la cabina es revisado por personal del aeropuerto.Si tienes dudas sobre los artículos que puedes transportar con nosotros, te recomendamos revisar las excepciones para llevar elementos especiales.</p>
            <ul class="mlistas">
              <li>Transporte de productos en polvo a Estados Unidos: Si viajas a Estados Unidos, debes tener en cuenta que según las disposiciones de la TSA (Transportation Security Administration), no está permitido llevar productos en polvo de más de 350 ml (12 oz) como parte del equipaje de mano y solo podrán ser transportados como parte del equipaje de bodega.</li>
              <li>Animales, plantas o sus derivados: Con el objetivo de impedir la introducción de plagas y agentes animales portadores de enfermedades, los organismos estatales restringen el ingreso de animales, plantas, semillas, productos, agro-tóxico o ciertos alimentos, sin la debida autorización para importar y la certificación sanitaria y fitosanitaria. Podrás revisar la lista completa de elementos prohibidos publicada por el Departamento de Seguridad Nacional de los Estados Unidos Transportation Security Administration (disponible en inglés).</li>
              <li>Elementos peligrosos: Líquidos inflamables, blanqueadores, explosivos, veneno, ácido, gas comprimido, patinetas eléctricas (hoverboards, solo wheels, airwheels, mini-segway, balance wheel) impulsadas con baterías de ion-litio o encendedores, si viajas hacía o vía Estados Unidos. Si por algún motivo llevas uno de estos elementos y no los declaras, atentas contra las regulaciones de la aviación civil.</li>
              <li>Armas de fuego de todo tipo (incluso réplicas y armas de juguete), líquidos, gel, aerosoles, artículos de gas pimienta y objetos corto punzantes, como: cuchillos, limas, cortauñas, rasuradoras, herramientas de mano de obra o pinzas, agujas y/o palillos de tejer,  bates de béisbol y tacos de billar; pueden ser transportados sólo en la bodega del avión. Puedes transportarlas siempre y cuando estén declaradas y descargadas. No hacerlo es una falta a las regulaciones de la aviación civil. Te recomendamos informarte de las disposiciones locales del país al que viajas porque, por ejemplo, en Brasil tienen que transportarse en contenedores especiales. Si tu pasaje incluye vuelos de otras aerolíneas, tienes que contactar a cada una para informarte sobre las condiciones y regulaciones en el transporte de armas.</li>
            </ul>

          </mat-expansion-panel>

        </mat-accordion>
      </li>
      <li>
        <mat-accordion>

          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>  Equipaje de bodega</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <h4>Equipaje de bodega de 15 kilos</h4>
            <p>Podrás agregar equipaje de bodega de 15 kilos. Sin embargo, debes tener en cuenta algunas consideraciones: </p>
             <ul class="mlistas">
               <li>El peso máximo de este equipaje es de 15 kg y sus dimensiones máximas son de 158 cm lineales (sumando largo + ancho + alto).</li>
               <li>Solo se podrá comprar 1 maleta de 15 kilos por cada viaje desde un origen a destino final.</li>
               <li>El equipaje deberá ser entregado en el counter para su transporte, al igual que el equipaje de 23kg.</li>
               <li>Los pasajeros menores de 2 años no podrán comprar este adicional.</li>
               <li>Este equipaje podría no estar disponible para todas la rutas.</li>
             </ul>
            <p><b>Condiciones sobre el transporte de equipaje:</b></p>
            <ul class="mlistas">
              <li>El equipaje de bodega debe cumplir los límites permitidos de forma individual, si viajas con más de una maleta el peso de estas no es acumulativo, por lo tanto, si alguna de ellas excede los 23 kilos estará sujeta a cobros por exceso de equipaje.</li>
              <li>Tu equipaje será etiquetado hasta el destino final de tu viaje siempre que los diferentes vuelos estén en la misma reserva. A pesar de esto, en algunos casos deberás retirar el equipaje en los puntos de conexión para realizar procedimientos de aduana o cambiar de aeropuerto. Este procedimiento también aplica si debes pernoctar en el aeropuerto.</li>
              <li>El peso y piezas permitidas en tu equipaje son personales e intransferibles a otros pasajeros.</li>
            </ul>
          </mat-expansion-panel>

        </mat-accordion>
      </li>
      <li>
        <mat-accordion>

          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Artículos restringidos</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <h4>¿Qué no puedes llevar como equipaje de mano?</h4>
            <p><b>Conoce los objetos no permitidos en cabina:</b></p>
            <ul class="mlistas">
              <li>Armas de fuego de todo tipo (incluso réplicas y armas de juguete), líquidos, gel, aerosoles, artículos de gas pimienta y objetos corto punzantes, como: cuchillos, limas, cortauñas, rasuradoras, herramientas de mano de obra o pinzas, agujas y/o palillos de tejer, bates de béisbol y tacos de billar; pueden ser transportados sólo en la bodega del avión. Armas de fuego Puedes transportarlas siempre y cuando estén declaradas y descargadas. No hacerlo es una falta a las regulaciones de la aviación civil. Te recomendamos informarte de las disposiciones locales del país al que viajas porque, por ejemplo, en Brasil tienen que transportarse en contenedores especiales.</li>
              <li>Líquidos, gel y aerosoles permitidos en el equipaje de mano Algunos países imponen restricciones relativas a los líquidos que pueden transportarse a bordo.</li>
              <li>Aerosoles, recipientes con líquidos, gel, licores, cremas o productos de consistencia semejante (desodorantes en barra, lápiz labial, pasta de diente) puedes llevarlos en cabina en una bolsa transparente de máximo 1 litro, con sistema de apertura y cierre que permita ver el contenido, siempre que no excedan los 100 ml cada uno. Recuerda es sólo una bolsa por pasajero.
              </li>
              <li>uedes llevar hasta 5 litros de bebidas alcohólicas en tu equipaje de mano o de bodega, siempre y cuando no excedan el 70% de graduación alcohólica y las autoridades locales lo permitan. Para vuelos nacionales e internacionales desde Brasil, debes tener en cuenta que el máximo permitido es de 1 litro por botella.</li>
            </ul>
             <p>Se permite el transporte de artículos que superen los 100 ml en los siguientes casos:</p>
            <ul class="mlistas">
              <li>Medicamentos: es posible que te soliciten una receta médica que certifique su uso durante su viaje, considerando horas de vuelo y conexiones.
              </li>
              <li>Alimentos infantiles: siempre que viajes con menores.</li>
              <li>Alimentos dietéticos: que sean para uso durante el vuelo y sus cantidades sean acordes al tiempo de duración del viaje. En este caso es posible que soliciten demostrar su autenticidad.</li>
            </ul>
            <h4>¿Cuáles son los artículos restringidos en la cabina del avión?</h4>
            <p>Existen restricciones para las armas de fuego, animales, plantas o sus derivados, objetos corto punzantes, polvos, líquidos, gel, artículos de gas pimienta y aerosoles.</p>
            <p>En cuanto a medicamentos, alimentos infantiles y alimentos dietéticos, estos pueden ser transportados en cabina sujeto a condiciones especiales.</p>
            <p>Ten en cuenta que esta información es referencial, ya que también depende del país de destino y los organismos estatales correspondientes.</p>
          </mat-expansion-panel>
        </mat-accordion>
      </li>
      <li>
        <mat-accordion>

          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Equipaje especial</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <h4 >¿Cuánto tengo que pagar si llevo un equipaje especial?</h4>
              <p>Ciertos equipos deportivos, instrumentos musicales, televisores o monitores son considerados equipaje especial y pueden ser transportados en la bodega de vuelos por un cobro adicional. Los precios del equipaje especial son valores fijos, que dependen de la ruta de tu viaje. El transporte de sillas de ruedas u otro instrumento de uso personal para necesidades especiales no tiene costo.</p>
            <h4>Instrumentos musicales</h4>
            <p>Los instrumentos pequeños están permitidos en cabina, siempre y cuando no superen los límites del equipaje de mano. Si no cumplen con las medidas o peso máximo establecidos, deben ir en la bodega. Para transportarlos, debes embalarlos de forma adecuada para evitar cualquier daño durante el viaje. Te recomendamos que lleves los instrumentos en contenedores especiales para objetos frágiles.</p>
            <p><b>Instrumentos musicales considerados como equipaje especial:</b></p>
            <p>Violonchelo, tuba, contrabajo o bombo: Para poder ser transportados en bodega, deberán ir embalados en estuches rígidos, estando siempre sujetos a cobro por equipaje especial.</p>
            <p><b>Excepción para guitarras:</b></p>
            <p>El transporte de guitarras sólo está permitido si están debidamente embaladas en estuches rígidos y siempre serán transportadas en la bodega del avión.</p>
            <p>Una guitarra con su estuche es considerada como un equipaje regular, por lo que si tu pasaje incluye alguna pieza libre de cargo dentro de la franquicia de equipaje de bodega, podrás hacer uso de la misma despachando tu guitarra. En caso de que ya hayas ocupado tu franquicia, la guitarra con su estuche se cobrará como equipaje adicional.</p>
            <h4>¿Está permitido llevar ánforas con cenizas en el avión?</h4>
            <p>Sí puedes llevar un ánfora, tanto en la cabina como en la bodega del avión, sin embargo, debes tener en cuenta que el transporte está sujeto a las regulaciones de cada país, por lo que podrías necesitar un certificado de defunción y un certificado de cremación, entre otros documentos. Además, las ánforas son revisadas en los puntos de seguridad de acceso a las salas de embarque en cada aeropuerto, y podrían ser abiertas por las autoridades de seguridad.</p>
          </mat-expansion-panel>
        </mat-accordion>
      </li>
      <li>
        <mat-accordion>

          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Exceso de equipaje</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <h4 >¿Cuánto tengo que pagar si llevo equipaje extra?</h4>
            <p>Si tu equipaje en bodega excede el peso o las dimensiones máximas permitidas, deberás pagar un costo extra. Recuerda que estos valores pueden variar según fecha del vuelo (temporada alta o baja), anticipación de la compra y/o ruta de viaje.</p>
            <p>En caso de necesitar equipaje adicional en el aeropuerto, deberás acercarte con anticipación a un counter LATAM para comprobar la disponibilidad de espacio en el avión. </p>
          </mat-expansion-panel>
        </mat-accordion>
      </li>
      <li>
        <mat-accordion>

          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Problemas con tu equipaje</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <h4 >¿Qué hago si al llegar a destino falta parte de mi equipaje o está dañado?</h4>
            <p>Si aún estás en el aeropuerto, habla con nuestro personal del aeropuerto en la zona de retiro de equipaje y haz un reclamo con tu pasaporte o documento de identidad, tarjeta de embarque y comprobante de equipaje facturado.</p>
            <p>Si ya no estás en el aeropuerto, puedes escribirnos en un plazo máximo de 7 días a nuestro WhatsApp®, a contar del día de tu llegada.</p>
            <h4> Daños menores o preexistentes en el equipaje</h4>
            <p>La aerolínia no se responsabiliza por daños preexistentes, daños generados por exceso de contenido (cierres quebrados) o por el desgaste que se puede producir durante el desplazamiento natural del equipaje (pequeño cortes, rayaduras o ausencia de elementos que no comprometen su utilización, como logotipos y llaveros).</p>
            <h4>Mi equipaje no llegó, ¿qué tengo que hacer?</h4>
            <p> Lamentamos no haber podido entregar a tiempo tu equipaje en el aeropuerto de destino. Queremos solucionarlo a la brevedad, por eso te invitamos a seguir estos pasos:</p>
            <p>Ponte en contacto con nuestro personal  presente en la zona de retiro de equipaje, quienes te facilitarán un formulario llamado “Parte de Irregularidad de equipaje (P.I.R.)” para formalizar tu reclamo.
              Completa el formulario junto con tu pasaporte o documento de identidad, tarjeta de embarque y comprobante de equipaje. Debes realizar una descripción lo más detallada posible de tu equipaje para facilitar su localización.</p>
            <p>Después de que formalices el reclamo por no haber recibido tu equipaje, lo comenzaremos a buscar en los aeropuertos. En caso de que no lo localicemos antes de los 14 días, iniciaremos el proceso de indemnización.</p>
            <h4>¿Qué hago si olvidé un articulo personal en el avión o aeropuerto?</h4>
            <p>Si aún estás en el aeropuerto, lo más efectivo es ponerte en contacto con nuestro personal LATAM en los mostradores o puertas de embarque para reportar y recuperar tu artículo a la brevedad.</p>

          </mat-expansion-panel>
        </mat-accordion>
      </li>

    </ul>

  </div>

</div>
