body{
  margin: 0;
  padding: 0;
  height: auto;
}

.general{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.total{
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://c0.wallpaperflare.com/preview/625/82/392/ecuador-pinas-cordilleras-paisaje.jpg");
}

.fondo_inicial{
  width: 100%;
  height: 100%;
}

@supports(object-fit: cover){
  .fondo_inicial img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.title{
  margin-left: 20px;
  color: #ffffff;
  margin-top: 10%;
}

.total_b{
  background: linear-gradient(90deg, rgba(40,40,40,1) 0%, rgba(59,58,58,1) 44%, rgba(85,84,84,1) 100%);
  display: flex;
  justify-content: center;
  border-top:2px solid white;
  width: 100%;
}

.background_c{
  background-color: rgba(0, 0, 0, 0.05);
}

.back_black{
  margin-top: 20px;
  border-top-right-radius: 50px;
  height: auto;
}

.total_b .form{
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
  width: 700px;
  border-bottom:2px solid #1d4f71;
  border-right:2px solid #1d4f71;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}

.row{
  display: flex;
  flex-direction: row;
  padding: 10px;
}


.bord{
  border-radius: 5px;
  box-shadow: 1px 1px 4px black;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
}

.row_ac{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.row_action button:hover{
  background-color: #1d4f71;
}

.label_t{
  width: 95px;
  font-size: 16px !important;
  color: #282828;
  font-weight: 500;
}

.row_c .l_b{
  border: 1px solid black!important;
}

h5{
margin: 0;
}

.row_c{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.row_i{
  display: flex;
  flex-direction: column;
}

.row_search{
  margin-left: 10px;
}

.row_c .label_r{
  color: #1d4f71;
  font-weight: 600;
}


.row h4{
  color: #1d4f71;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 15px;
}

.label_{
  color: #1d4f71;
  font-size: 13px !important;
}

.row input{
  border: 0px solid rgb(0, 0, 0);
  border-bottom: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.05);
}

.row input:hover{
  border: 1px solid #1d4f71;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color .5s;
  transition: border .1s;
}

.portada{
  display: flex;
  justify-content: center;
  align-items: center;
}

.left{
  justify-content: left;
  margin-left: 10px;
}

.row_action{
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.fin{
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.fin_{
  border: 2px solid #1d4f71;
  color: #1d4f71;
  font-weight: 600;
}

.search_button{
  border: 2px solid #ff0000;
  color: #ff0000;
}

.more_button{
 margin-left: 10px;
  border: 2px solid #1d4f71;
  color: #1d4f71;
}

button:disabled,
button[disabled]{
  background-color: #cccccc !important;
}

.t_c{
  padding-left: 20px;
  padding-right: 20px;
}

.t_c .mat-header-cell{
  color: #282828 !important;
  background-color: white;
  font-size: 16px;
  font-weight: 600;
}

.t_c .mat-cell{
  color: white;
  font-size: 15px;
  background-color: #1d4f71;
}

.t_c h3{
  color: #1d4f71;
  margin-left: 10px;
}

table {
  width: 100%;
}

