<body>
<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
  <a class="navbar-brand" href="#">Estadísticas de Vuelos</a>
</nav>
<div class="container">
  <div class="card mt-2">
    <div class="card-body">
      <h4 class="card-title" style="text-align: center;">Gráfico de Barras</h4>
      <canvas
        baseChart
        [data]="salesData"
        [type]="'bar'"
        [options]="chartOptions"
      >
      </canvas>
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-body">
      <h4 class="card-title" style="text-align: center;">Gráfico Lineal</h4>
      <canvas
        baseChart
        [data]="salesData"
        [type]="'line'"
        [options]="chartOptions"
      >
      </canvas>
    </div>
  </div>
</div>
</body>
