<body>
<nav class="navbar navbar-expand navbar-dark bg-dark px-2" style="text-align: center">
    <span class="navbar-brand" style="font-weight: bold; font-size: 20px" >Estadísticas de Vuelos</span>
  </nav>
  <div class="container">
    <div class="card mt-2">
      <div class="card-body">
        <h4 class="card-title" style="text-align: center;">Gráfico de Barras</h4>
        <canvas id="canvas">
          {{chart}}
        </canvas>
      </div>
    </div>
    <div class="card mt-2">
      <div class="card-body">
        <h4 class="card-title" style="text-align: center;">Gráfico Lineal</h4>
        <canvas id="canvasl">
          {{chartL}}
        </canvas>
      </div>
    </div>
  </div>


</body>
