<div class="contenido" >
  <div>
    <h1>Viajes con mascota</h1>
    <ul class="lista">
      <li>
        <mat-accordion>

          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title><h3>Trasporte de mascotas</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <h4>¿Qué tipo de animales pueden viajar?</h4>
            <p> Puedes viajar en compañía de tu perro o gato, siempre y cuando tenga al menos 16 semanas de edad (4 meses).</p>
            <p>Tienes que cumplir con algunos requisitos para solicitar el servicio. Sin embargo, existen restricciones para algunas de nuestras rutas.</p>
            <h4>Viajes a Estados Unidos</h4>
            <p>Con algunas excepciones con parámetros de estricto cumplimiento, desde el 14 de julio de 2021, el CDC (Centers for Diseases Control and Prevention) restringe la entrada en Estados Unidos de perros procedentes de países con alto riesgo de contagio de rabia o que hayan estado en esos países en los últimos 6 meses. Aplica a los perros en cabina, perros de asistencia y  perros que viajan en bodega, independientemente de su raza.</p>
            <p>Importante: para los perros procedentes de países que no estén en la lista de países de alto riesgo para la rabia, se mantienen los actuales procesos para solicitar el servicio:</p>
            <ul class="mlistas">
              <li>Estar sanos al momento de la llegada a USA.</li>
              <li>4 meses de edad mínimo.</li>
              <li>Se recomienda firmemente el certificado de vacunación contra el virus de la rabia.</li>
            </ul>

            <h4>¿Puedo viajar con mi mascota en el avión?</h4>
            <p>Sí, nuestro servicio de transporte de mascotas te permite viajar con tu perro o gato.</p>
            <p>Para eso, tu mascota no puede viajar sedada, debe tener buen estado de salud, un comportamiento dócil y al menos 16 semanas de vida.</p>
            <p>Puede ir contigo en la cabina Economy o transportado en la bodega del avión, dependiendo del tamaño y otras consideraciones.</p>
            <h4>En cabina</h4>
            <p>a mascota deberá viajar dentro de un bolso o kennel de transporte durante todo el vuelo. Además: </p>
            <ul class="mlistas">
              <li>Debe pesar hasta 7 kg / 15 lb entre mascota y contenedor kennel.</li>
              <li>Debe medir 36 de largo, 33 cm de ancho y 19 cm de alto si es kennel/contenedor de transporte; o 36 cm de largo x 33 cm de ancho y 23 cm de alto si es bolso de transporte.</li>
            </ul>
            <h4>En bodega</h4>
            <p>Si tu perro o gato excede el tamaño o peso máximo permitido para ir en la cabina, podría viajar en la bodega del avión. Tienes que llevarlo al interior de un kennel o contenedor transporte:</p>
            <ul class="mlistas">
              <li>Debe pesar hasta 45 kg / 99 lb, sumado entre mascota y kennel/contenedor o hasta 32 kg / 70 lb si viajas desde o hacia Europa, Oceanía, Argentina y Aruba.</li>
              <li> Debe medir 300 cms lineales (suma de ancho + alto + largo) con un máximo de 115 cms de altura. La distancia entre su cabeza y el techo debe ser mínimo de 5 cms.</li>
            </ul>
          </mat-expansion-panel>

        </mat-accordion>
      </li>
      <li>
        <mat-accordion>

          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Mascotas de asistencia</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <h4>¿Puedo viajar con mi mascota de soporte emocional?</h4>
            <p>Sí, puedes viajar con animal de soporte emocional en las rutas que reconocen este concepto. Es decir, en vuelos internacionales desde y hacia México o Ecuador, y en vuelos nacionales dentro de Ecuador. </p>
            <p> <b>IMPORTANTE:</b> si tu viaje es desde, hacia o vía Estados Unidos, ten en cuenta que el DOT no reconoce la figura de perro de Soporte Emocional, pero existe la opción de Animal de Servicio (perro entrenado para brindar asistencia al pasajero). Revisa si tu perro cumple con los requisitos en la sección de Animales de Servicio.</p>
            <p>Es importante que sepas lo siguiente:</p>
            <ul class="mlistas">
              <li>Solo puedes viajar con un animal de soporte emocional, el cual debe tener al menos 4 meses de edad.</li>
              <li>La aprobación de embarque definitiva se realizará directamente en el counter del aeropuerto, con el fin de asegurar que cumpla los requisitos y las condiciones (comportamiento y tamaño), que nos permitan garantizar su transporte de forma segura en la cabina del avión. </li>
            </ul>
           <h4>Consideraciones durante el vuelo para perros de soporte emocional</h4>
            <ul class="mlistas">
              <li>Puede viajar a tus pies o bajo el asiento delantero, sin obstruir pasillos, y no puede ser ubicado en salidas de emergencia.</li>
              <li>Puedes llevar alfombras/sabanillas sanitarias y/o pañal para evitar situaciones que afecten la higiene del avión.</li>
              <li>No podrás alimentarlo desde las bandejas, ni ser alimentado con las comidas del servicio a bordo.</li>
              <li>Tiene que usar una correa o arnés, estar limpio, sano y tener buen comportamiento.</li>
            </ul>
            <h4>Consideraciones durante el vuelo para gatos de soporte emocional</h4>
            <ul class="mlistas">
              <li>Solo están permitidos en vuelos internacionales desde y hacia Colombia, y en vuelos nacionales dentro de Colombia.</li>
              <li>Debe permanecer en todo momento dentro de un kennel o contenedor de transporte, que debe cumplir con las reglas de tamaño máximo, peso y materialidad detalladas en Mascotas en Cabina. </li>
              <li>En cumplimiento con los lineamientos de la Dirección Aeronáutica Civil de Colombia, existe un máximo de 6 kennels a bordo de cada vuelo. Por tanto, la confirmación estará sujeta a la disponibilidad antes mencionada.</li>
              <li>No podrás alimentarlo desde las bandejas, ni ser alimentado con las comidas del servicio a bordo.</li>
            </ul>
          </mat-expansion-panel>

        </mat-accordion>
      </li>

    </ul>

  </div>
</div>

