<br>
<div class="container">
    <div class="container">

        <span class="p-float-label">

            <input id="float-input" type="text" [(ngModel)]="idvuelo" pInputText style="margin: 2px;">
            <label for="float-input">Numero de Vuelo</label>
            <button pButton pRipple type="button" icon="pi pi-search"
                    class="p-element p-ripple p-button-rounded p-button-success p-button-outlined p-button p-component p-button-icon-only" (click)="ReservafindByIdVuelo(idvuelo)"></button>
        </span>

    </div>
    <br>
    <div class="card">


        <p-table id="1" #dt1 selectionMode="single" [value]="ReservaReporte"  dataKey="id" styleClass="p-datatable-customers" responsiveLayout="scroll"
            [rows]="10" [paginator]="true" stateStorage="session" stateKey="statedemo-session">
            <ng-template pTemplate="header">
                 <div class="container " style="text-align: center;">
                    <h3 style="text-align: center;">Reporte Facturas</h3>
                 </div>
                <tr>
                    <th pSortableColumn="idReserva">Reserva <p-sortIcon field="idReserva"></p-sortIcon></th>
                    <th pSortableColumn="idVuelo">Vuelo <p-sortIcon field="idVuelo"></p-sortIcon></th>
                    <th pSortableColumn="fechaRegistro">Fecha Registro <p-sortIcon field="fechaRegistro"></p-sortIcon></th>
                    <th pSortableColumn="origen">Origen <p-sortIcon field="origen"></p-sortIcon></th>
                    <th pSortableColumn="status">Destino </th>
                    <th pSortableColumn="status">Hora Salida </th>
                    <th pSortableColumn="status">Hora Llegada </th>
                    <th pSortableColumn="status">Fecha Ida </th>
                    <th pSortableColumn="status">Fecha Regreso </th>
                    <th pSortableColumn="status">Precio</th>
                    <th pSortableColumn="status">Observacion</th>
                </tr>
                <tr>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ReservaReporte>
                <tr [pSelectableRow]="ReservaReporte">
                    <td>
                        {{ReservaReporte.idReserva}}
                    </td>
                    <td>
                        <span class="image-text">{{ReservaReporte.idVuelo}}</span>
                    </td>
                    <td>
                        <span class="image-text">{{ReservaReporte.fechaRegistro}}</span>
                    </td>
                    <td>
                        <span class="image-text">{{ReservaReporte.origen}}</span>
                    </td>
                    <td>
                        <span class="image-text">{{ReservaReporte.destino}}</span>
                    </td>
                    <td>
                        <span class="image-text">{{ReservaReporte.horaSalida}}</span>
                    </td>
                    <td>
                        <span class="image-text">{{ReservaReporte.horaLlegada}}</span>
                    </td>
                    <td>
                        <span class="image-text">{{ReservaReporte.fechaIda}}</span>
                    </td>
                    <td>
                        <span class="image-text">{{ReservaReporte.fechaVuelta}}</span>
                    </td>

                    <td>
                        <span class="image-text">{{ReservaReporte.precio}}</span>
                    </td>

                    <td>
                        <span class="image-text">{{ReservaReporte.observacion}}</span>
                    </td>


                </tr>
            </ng-template>
        </p-table>
        <button pButton pRipple type="button" label="Imprimir" class="p-button-outlined p-button-danger" icon="pi pi-print" printSectionId="1" ngxPrint></button>
    </div>
</div>
