body{
  margin: 0;
  padding: 0;
  height: auto;
}

.generic{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.general{
  margin-bottom: 20px;
  margin-top: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 100px 1fr;
  background-color: white;
}

.left,.rigth{

}

.left{
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: rgba(255, 255, 255, 1);
}

.rigth{
  grid-row: 2/3;
  margin-left: 10px;
  margin-right: 8%;
  margin-left: 8%;
 border-top:2px solid rgb(51, 60, 80);
  border-right: 2px solid rgb(51, 60, 80);
  border-radius: 10px;
  margin-bottom: 20px;
}

.esp_h3{
margin-right: 20px;
}

.c_fechas{
  padding: 10px;
  border-top: 2px solid #151633;
  border-left: 2px solid #151633;
  border-bottom: 2px solid rgba(0,0,0,0);
  border-right: 2px solid rgba(0,0,0,0);
  width: 50px;
  height: 40px;
  border-radius: 10px;
  color: rgba(40, 40, 40, 1);
  box-shadow:  -4px -3px rgba(0, 0, 0, 0.1);
}

.c_fechas:hover{
  transition: margin .4s;
  background-color: rgba(0, 0, 0, 0.1);
}

h4{
  margin: 0;
  padding: 0;

}
p{
  margin: 0;
  padding: 0;

}

h3{
  margin: 0;
  padding: 0;
}

.enca{
  display: flex;
  flex-direction: row;
}

.mat-icon{
  font-size: 30px;
  margin-left: auto;

}

.total{
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://live.staticflickr.com/65535/50095010198_24899c08d8_b.jpg");
}


.fondo_inicial{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  margin-bottom: 20px;
}

@supports(object-fit: cover){
  .fondo_inicial img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.title{
  margin-left: 20px;
  color: white;
  margin-top: 15%;
}

.vuelos{
  display: flex;
  flex-direction: column;
}

.vuelos_g{
  display: flex;
  flex-direction: row;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 2px 2px 5px rgb(51, 60, 80);
}


.v_left{
  margin-left: 10px;
}

.duracion,.partida{
 margin-left: 60px;
}

.v_rigth{
  margin-left: auto;
}

.options{
  margin-right: 5%;
  margin-top: 5px;
  margin-left: 15%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;

}

.options:hover{
  margin-left: 7%;
  transition: margin-left .8s;
}

.optionif{
  margin-top: 10px;
}

.ligth{
  border-left: 2px solid #31355e;
  border-bottom: 2px solid #31355e;
}

.ligth h4{
  color: #31355e;
}

.ligth .boton_envio{
  margin-left: auto;
  border: 2px solid #31355e;
  color: #5e3131;
}

.top{
  border-left: 2px solid #5e3131;
  border-bottom: 2px solid #5e3131;
}

.top h4{
  color: #5e3131;
}

.top .boton_envio{
  margin-left: auto;
  border: 2px solid #5e3131;
  color: #5e3131;
}

.premium{
  border-left: 2px solid #a48d00;
  border-bottom: 2px solid #a48d00;
}

.premium h4{
 color: #a48d00;
}

.premium .boton_envio{
  margin-left: auto;
  border: 2px solid #a48d00;
  color: #a48d00;
}

.boton_m{
  border: 1px solid #000000;
  color: #000000;
  margin-left: 20px;
}




