<ngx-spinner
  bdColor = "rgba(0, 0, 0, 1)"
  size = "medium"
  color = "#fff"
  type = "square-jelly-box"
  template= "<img src='https://media.giphy.com/media/iJOZwC1R7WVxAxs4Gs/giphy.gif'/>"
  [fullScreen] = "true">
</ngx-spinner>
<body>
    <div class="generic">

      <div class="total">
        <div class="fondo_inicial">
          <h1 class="title">Viaja por todo el Ecuador</h1>
        </div>
      </div>

      <div class="general">
        <div class="left">
          <h3 class="esp_h3">Seleccione un mes:</h3>
          <div class="c_fechas" (click)="activarfiltro(i)"
               *ngFor="let item of filter; let i = index"
               [style.border-top-color]= "changeColor[i]  ? '#ffffff' : 'rgba(41,42,94,0)'"
               [style.border-left-color]= "changeColor[i]  ? '#ffffff' : 'rgba(41,42,94,0)'"
               [style.border-bottom-color]= "changeColor[i]  ? 'rgba(41,42,94,0)' : 'rgb(255,255,255)'"
               [style.border-right-color]= "changeColor[i]  ? 'rgba(41,42,94,0)' : 'rgba(0,0,0,1)'"
               [style.background-color]= "changeColor[i]  ? 'rgba(255,255,255,0.1)' : 'rgba(255,255,255,0)'"
          >
            <div class="enca">
              <h4>Mes: {{item.mes}}</h4>
            </div>
            <div>
              <mat-icon >calendar_today</mat-icon>
            </div>

          </div>
        </div>

        <div class="rigth">
            <h3 class="title_ri">Vuelos Disponibles</h3>

          <div class="vuelos" *ngFor="let item of vuelos_filtrados; let i = index">
            <div class="vuelos_g"  [style.border-block-color]= "changeColor_options[i]  ? 'black' : '#000' "
                 [style.border-width]= "changeColor_options[i]  ? '2px' : '1.7px'">
              <div class="v_left">
                <p>Viaja de {{item.origen}}</p>
                <h4>{{item.fechaVuelta}}</h4>
              </div>
              <div class="duracion">
                <div>
                  <h4>Destino:</h4>
                  <p>{{item.destino}}</p>
                </div>
              </div>
              <div class="partida">
                <div>
                  <h4>Partida:</h4>
                  <p>{{item.fechaIda}}</p>
                </div>
                <mat-icon>alarm</mat-icon>
              </div>
              <div class="horario">
                <div>
                  <h4>Horario:</h4>
                </div>
                <div><h3>Salida</h3><p>{{item.horaSalida}}</p></div>
                <div class="spein"><h3>LLegada</h3><p>{{item.horaLlegada}}</p></div>
              </div>
              <div class="v_rigth">
                <p>Precio:</p>
                <h4 class="precio">USD {{item.precio}}</h4>
              </div>
              <mat-card-actions>
                <button mat-raised-button  (click)="mostrar(i)"
                        [textContent]= "changeColor_options[i]? 'Ocultar' : 'Mostrar'"
                        class="boton_m">
                  Mostrar</button>
              </mat-card-actions>
            </div>

            <div *ngIf="changeColor_options[i]" class="optionif">
              <div  class="options ligth">
                <div>
                  <h4>{{vuelos_envio[i].tipos_vuelo[0]}}</h4> | Solo artículo personal y sin cambios
                </div>
                <button mat-raised-button class="boton_envio" (click)="solicitar(vuelos_envio[i].id_vuelo,'b')"><mat-icon>flight_takeoff</mat-icon></button>
              </div>
              <div  class="options top">
                <div>
                  <h4>{{vuelos_envio[i].tipos_vuelo[1]}}</h4> | +Equipaje de mano 10kg
                </div>
                <button mat-raised-button class="boton_envio"  (click)="solicitar(vuelos_envio[i].id_vuelo,'l')"><mat-icon>flight_takeoff</mat-icon></button>
              </div>
              <div  class="options premium">
                <div>
                  <h4>{{vuelos_envio[i].tipos_vuelo[2]}}</h4> | +Maleta 23kg
                </div>
                <button mat-raised-button class="boton_envio" (click)="solicitar(vuelos_envio[i].id_vuelo,'p')"><mat-icon>flight_takeoff</mat-icon></button>
              </div>
            </div>

          </div>

        </div>
      </div>


    </div>

</body>
