<body>
    <div class="generic">

      <div class="total">
        <div class="fondo_inicial">
          <h1 class="title">Viaja por todo el Ecuador</h1>
        </div>
      </div>

      <div class="general">
        <div class="left">
          <h3 class="esp_h3">Seleccione un mes:</h3>
          <div class="c_fechas" (click)="activarfiltro(i)"
               *ngFor="let item of filter; let i = index"
               [style.color]= "changeColor[i]  ? '#292a5e' : 'black'"
               [style.margin]= "changeColor[i]  ? '10px' : '5px'"
          >
            <div class="enca">
              <h4>Mes: {{item.mes}}</h4>
              <mat-icon  matPrefix >calendar_today</mat-icon>
            </div>
          </div>
        </div>

        <div class="rigth">
          <h3 class="title_ri">Vuelos Disponibles</h3>
          <div class="vuelos" *ngFor="let item of vuelos_filtrados; let i = index">
            <div class="vuelos_g"  [style.border-block-color]= "changeColor_options[i]  ? 'black' : '#000' "
                 [style.border-width]= "changeColor_options[i]  ? '2px' : '1.7px'">
              <div class="v_left">
                <p>Viaja de {{item.origen}}</p>
                <h3>{{item.fechaIda}}</h3>
              </div>
              <div class="duracion">
                <h4>Duración</h4>
                <p>0H:51</p>
              </div>
              <div class="partida">
                <h4>Partida</h4>
                <p>{{item.fechaIda}}</p>
              </div>
              <div class="v_rigth">
                <p>Desde</p>
                <h4>USD {{item.precio}}</h4>
                <p>Tasas Incluidas Vuelo directo</p>
              </div>

              <mat-card-actions>
                <button mat-raised-button  (click)="mostrar(i)"
                        [textContent]= "changeColor_options[i]? 'Ocultar' : 'Mostrar'"
                        class="boton_m">
                  Mostrar</button>
              </mat-card-actions>
            </div>

            <div *ngIf="changeColor_options[i]" class="optionif">
              <div  class="options ligth">
                <div>
                  <h4>{{vuelos_envio[i].tipos_vuelo[0]}}</h4> | Solo artículo personal y sin cambios
                </div>
                <button mat-raised-button class="boton_envio">Enviar</button>
              </div>
              <div  class="options top">
                <div>
                  <h4>{{vuelos_envio[i].tipos_vuelo[1]}}</h4> | +Equipaje de mano 10kg
                </div>
                <button mat-raised-button class="boton_envio">Enviar</button>
              </div>
              <div  class="options premium">
                <div>
                  <h4>{{vuelos_envio[i].tipos_vuelo[2]}}</h4> | +Maleta 23kg
                </div>
                <button mat-raised-button class="boton_envio">Enviar</button>
              </div>
            </div>

          </div>

        </div>
      </div>


    </div>

</body>
